<!DOCTYPE HTML>
<html>

<head>
	<title>Login DearFurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="left-sidebar is-preload">
	<div id="page-wrapper">
		<section id="header" class="wrapper">
			<div id="logo">
				<h1>Dearfurkid</h1>
			</div>
		</section>

	</div>

	<div id="content">
		<article class="box post">
			<header class="style1">
				<br>
				<br>
				<span id="username" class="text_field">帳號：</span>
				<input name="userID" type="text" maxlength="20" id="userID" style="width: 200px;">
				<br>
				<br>
				<span id="userpwd" class="text_field">密碼：</span>
				<input name="userpwd" type="password" maxlength="20" id="userpwd" style="width: 200px;"><br><br>
				<a href="index.html" style="text-decoration:none;" style="color:blue;">登入</a><br>
				<a href="forgot.html" style="text-decoration:none;" style="color:blue;">忘記密碼</a>
			</header>
		</article>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>