<!DOCTYPE HTML>
<html>

<head>
	<title>寵物商城 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify.html">修改密碼</a></li>
							<li><a href="calendar.html">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="pet-m.html">寵物記帳</a></li>
							<li><a href="pet-f.html">飲食紀錄</a></li>
							<li><a href="pet-w1.html">散步地圖</a></li>
							<li><a href="pet-h.html">寵物住宿</a></li>
							<li><a href="pet-g11.html">寵物美容</a></li>
							<li><a href="pet-t11.html">寵物訓練</a></li>
							<li><a href="pet-a.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="pet-s11.html">鮮食</a></li>
							<li><a href="pet-s21.html">飼料</a></li>
							<li><a href="pet-s31.html">衣服</a></li>
							<li><a href="pet-s41.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="#">線上諮詢</a></li>
							<li><a href="#">看診項目</a></li>
							<li><a href="#">門診時間</a></li>
							<li><a href="#">健康檢查</a></li>
							<li><a href="#">醫院地圖</a></li>
							<li><a href="#">常見問題</a></li>
							<li><a href="#">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>

		</section>



		<section id="highlights" class="wrapper style3">
			<div class="title">飼料</div>
			<div class="container">
				<div class="row aln-center">
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/MAvNr3" class="image featured" target="_blank"><img
									src="images1/20.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/MAvNr3" target="_blank">柏萊富 功能性護膚亮毛配方 羊肉+糙米</a></h3>
							<p><strong>原料成份：</strong><br>濃縮羊肉、糙米、小米、研磨高粱穀粒、濃縮鯰魚肉、去殼燕麥、芥花油、馬鈴薯蛋白、番茄粕、天然風味劑、乾燥甜菜漿、胡蘿蔔、芹菜、甜菜、荷蘭芹、萵苣、水田芥、菠菜、雞脂肪(與維生素E混合)、卵磷脂 、雞軟骨、蘋果 、南瓜粉、研磨迷迭香、研磨百里香、研磨孜然、研磨芥菜籽、碎紅辣椒、蔓越莓、海帶粉、嗜乳酸桿菌、絲蘭萃取、果寡糖、葡萄糖胺、有機乾海藻、各種必需維生素及礦物質</p>
							<p><strong>營養標示：</strong><br>蛋白質28以上、脂肪15.0%以上、纖維4%以下、水份10.0%以下、Ω6脂肪酸2.55%以上、Ω3脂肪酸1.1%以上、葡萄糖胺450ppm以上、軟骨素180ppm以上、益生菌數31m CFU/lb以上</p>
							<p><strong>重量：</strong><br>30磅</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/MAvNr3" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/XW6VOa" class="image featured" target="_blank"><img
									src="images1/21.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/XW6VOa" target="_blank">柏萊富 功能性護膚亮毛配方 鮭魚+碗豆 </a></h3>
							<p><strong>原料成份：</strong><br>濃縮鮭魚肉、豌豆、鷹嘴豆、扁豆、木薯澱粉、芥花油、濃縮鯰魚肉、濃縮鯡魚肉、胡蘿蔔、芹菜、甜菜、 荷蘭芹、萵苣、水田芥、菠菜、雞脂肪、天然風味劑、雞軟骨、卵磷脂、DL-蛋胺酸、海帶粉、鹽、蘋果、南瓜粉、磷酸二氫鈉、氯化膽鹼、研磨迷迭香、研磨百里香、研磨孜然、研磨芥菜籽、碎紅辣椒、嗜乳酸桿菌、藍莓、蔓越莓、絲蘭萃取、果寡糖、葡萄糖胺、有機乾燥海藻、維生素及礦物質</p>
							<p><strong>營養標示：</strong><br>蛋白質24.5%以上、脂肪14.0%以上、纖維3.5%以下、水份10.0%以下、Ω6脂肪酸2.45%以上、Ω3脂肪酸1.0%以上、葡萄糖胺440ppm以上、軟骨素70ppm以上、益生菌數31m CFU/lb以上</p>
							<p><strong>重量：</strong><br>30磅</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/XW6VOa" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/Lb3Xjx" class="image featured" target="_blank"><img
									src="images1/22.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/Lb3Xjx" target="_blank">原點 Instinct 小型犬配方 無穀雞肉</a></h3>
							<p><strong>原料成份：</strong><br>雞肉、雞肉粉、鷹嘴豆、火雞肉粉、木薯、鯡魚粉、雞脂肪、豌豆、番茄、香料、椰子油、蒙脫石粘土、鹽、蛋製品、氯化鉀、維生素群（E、L-抗壞血酸-2-多聚磷酸鹽、菸鹼酸、B1、B5、A、B2、B6、B12、B9、D3、B7）、紅蘿蔔、蘋果、蔓越莓、氯化膽鹼、礦物質（鐵蛋白鹽、銅蛋白鹽、錳蛋白鹽、亞硒酸鈉、乙二胺二氫碘化物）、雞肉、雞肝、雞心、南瓜籽、乾燥芽孢乳酸菌、迷迭香萃取物。</p>
							<p><strong>營養標示：</strong><br>粗蛋白(最少)36.0％、粗脂肪(最少)15.5％、粗纖維(最多)3.0％、水分(最多)10.0％、維生素E 200IU/kg、維生素C 100mg/kg、Omega-3脂肪酸(最少)0.25％、Omega-6脂肪酸(最少)2.0％</p>
							<p><strong>重量：</strong><br>5Kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/Lb3Xjx" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/Dg9X1Q" class="image featured" target="_blank"><img
									src="images1/23.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/Dg9X1Q" target="_blank">冠能 小型及迷你成犬 鮭魚+魚油 </a></h3>
							<p><strong>原料成份：</strong><br>鮭魚、米、燕麥、脫水鮭魚、玉米麩質粉、大麥、動物油脂（含維生素E）、動物水解消化物、豌豆蛋白、甜菜漿、礦物質（鈣、磷、鈉、氯、鉀、鎂、錳、銅、鋅、鐵、碘、硒）、維生素（A、B1、B2、菸鹼酸、葉酸、泛酸、B6、B12、C、D、E、膽鹼）、胺基酸、香料、魚油、抗氧化劑</p>
							<p><strong>營養標示：</strong><br>粗蛋白：26%、粗脂肪：16%、水分：12%、粗纖維：5.5%、Omega-6：1.8%、鈣：0.9%、磷：0.8%、Omega-3：0.8%、維生素E：400、國際單位/公斤、鋅：100毫克/公斤、維生素B2：10毫克/公斤、維生素B6：10毫克/公斤</p>
							<p><strong>重量：</strong><br>7kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/Dg9X1Q" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/AkqyqZ" class="image featured" target="_blank"><img
									src="images1/25.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/AkqyqZ" target="_blank">冠能 小型及迷你成犬 強化保護配方 </a></h3>
							<p><strong>原料成份：</strong><br>雞肉、全穀小麥、動物脂肪(含維生素E)、麥麩、大麥</p>
							<p><strong>營養標示：</strong><br>粗蛋白質24%、粗脂肪15%、水分12%、粗纖維4%、Omega-61.5%</p>
							<p><strong>重量：</strong><br>7kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/AkqyqZ" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/Akqy8Z" class="image featured" target="_blank"><img
									src="images1/24.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/Akqy8Z" target="_blank">冠能 小型及迷你成犬 亮毛配方 </a></h3>
							<p><strong>原料成份：</strong><br>雞肉（脫水雞肉、雞肉）、酵母米、全穀小麥、動物脂肪（含維生素E）、大麥、燕麥、玉米蛋白、小麥蛋白、礦物質 、維生素 、胺基酸。</p>
							<p><strong>營養標示：</strong><br>粗蛋白：28%、粗脂肪：17%、粗纖維：3%、灰分：9%、水分：11%、氯：0.7%、Omega6脂肪酸：1.5%、鈣：0.9%、磷：0.7%、Omega3脂肪酸：0.5%、Omega6脂肪酸：1.8%、維生素A：10000國際單位/公斤、離胺酸：1.2%、牛磺酸:0.08%(至少)</p>
							<p><strong>重量：</strong><br>7kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/Akqy8Z" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<p><strong>
								<a href ="pet-s21.html">1</a>&ensp;</strong>
								<a href ="pet-s22.html">2</a>&ensp;
							
							<br></p>

						</section>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>