<!DOCTYPE HTML>
<html>

<head>
	<title>寵物商城 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify.html">修改密碼</a></li>
							<li><a href="calendar.html">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="pet-m.html">寵物記帳</a></li>
							<li><a href="pet-f.html">飲食紀錄</a></li>
							<li><a href="pet-w1.html">散步地圖</a></li>
							<li><a href="pet-h.html">寵物住宿</a></li>
							<li><a href="pet-g11.html">寵物美容</a></li>
							<li><a href="pet-t11.html">寵物訓練</a></li>
							<li><a href="pet-a.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="pet-s11.html">鮮食</a></li>
							<li><a href="pet-s21.html">飼料</a></li>
							<li><a href="pet-s31.html">衣服</a></li>
							<li><a href="pet-s41.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="#">線上諮詢</a></li>
							<li><a href="#">看診項目</a></li>
							<li><a href="#">門診時間</a></li>
							<li><a href="#">健康檢查</a></li>
							<li><a href="#">醫院地圖</a></li>
							<li><a href="#">常見問題</a></li>
							<li><a href="#">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>


		</section>



		<section id="highlights" class="wrapper style3">
			<div class="title">配件</div>
			<div class="container">
				<div class="row aln-center">
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/Q9dXr0" class="image featured" target="_blank"><img
									src="images1/50.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/Q9dXr0" target="_blank">奧本 URBANER｜升級款全身用寵物電剪 MB-066 </a></h3>

							<p><strong>續航力：</strong><br>180分鐘</p>
							<p><strong>重量：</strong><br>204g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/Q9dXr0" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/AkqAQZ" class="image featured" target="_blank"><img
									src="images1/51.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/AkqAQZ" target="_blank">中華寵物剪毛器(充插二用) ZHEH-9100A</a></h3>
							<p><strong>續航力：</strong><br>40分鐘</p>
							<p><strong>重量：</strong><br>345g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/AkqAQZ" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/dG0DKz" class="image featured" target="_blank"><img
									src="images1/52.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/dG0DKz" target="_blank">GENTA 專業寵物電剪/推剪A26 採用寵物專用陶瓷刀頭</a></h3>
							<p><strong>續航力：</strong><br>300分鐘</p>
                            <p><strong>重量：</strong><br>-</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/dG0DKz" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/AkqAQZ" class="image featured" target="_blank"><img
									src="images1/74.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/AkqAQZ" target="_blank">【KINYO】USB充插兩用專用寵物電剪(寵物電動剪毛器)</a></h3>
							<p><strong>續航力：</strong><br>60分鐘</p>
							<p><strong>重量：</strong><br>201g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/AkqAQZ" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/mLnRRG" class="image featured" target="_blank"><img
									src="images1/75.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/mLnRRG" target="_blank">強勁剃毛電動寵物剪毛器</a></h3>
							<p><strong>續航力：</strong><br>90分鐘</p>
							<p><strong>重量：</strong><br>345g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/mLnRRG" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/3aD66V" class="image featured" target="_blank"><img
									src="images1/76.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/3aD66V" target="_blank">【PiPe 煙斗牌】台灣製寵物電剪毛器ER169</a></h3>
							<p><strong>續航力：</strong><br>240分鐘</p>
							<p><strong>重量：</strong><br>242g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/3aD66V" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<p>
								<a href="pet-s41.html">1</a>&ensp;
								<a href="pet-s42.html">2</a>&ensp;
                                <strong><a href ="pet-s43.html">3</a>&ensp;</strong>
                                <a href="pet-s44.html">4</a>&ensp;
								<br>
							</p>

						</section>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>