<!DOCTYPE HTML>
<html>

<head>
	<title>寵物商城 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify.html">修改密碼</a></li>
							<li><a href="calendar.html">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="#">寵物記帳</a></li>
							<li><a href="#">飲食紀錄</a></li>
							<li><a href="pet-w1.html">散步地圖</a></li>
							<li><a href="pet-h.html">寵物住宿</a></li>
							<li><a href="pet-g11.html">寵物美容</a></li>
							<li><a href="#">寵物訓練</a></li>
							<li><a href="pet-a.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="pet-s11.html">鮮食</a></li>
							<li><a href="pet-s21.html">飼料</a></li>
							<li><a href="pet-s31.html">衣服</a></li>
							<li><a href="pet-s41.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="#">線上諮詢</a></li>
							<li><a href="#">看診項目</a></li>
							<li><a href="#">門診時間</a></li>
							<li><a href="#">健康檢查</a></li>
							<li><a href="#">醫院地圖</a></li>
							<li><a href="#">常見問題</a></li>
							<li><a href="#">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>

		</section>



		<section id="highlights" class="wrapper style3">
			<div class="title">配件</div>
			<div class="container">
				<div class="row aln-center">
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/NXzya9" class="image featured" target="_blank"><img
									src="images1/47.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/NXzya9" target="_blank">春秋冬保暖寵物棉墊四季寵物墊S </a></h3>
							<p><strong>材質：</strong><br>聚酯纖維
							</p>
							<p><strong>規格：</strong><br>46x36x15cm</p>
							<p><strong>重量：</strong><br>610g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/NXzya9" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/3NdeDM" class="image featured" target="_blank"><img
									src="images1/49.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/3NdeDM" target="_blank">防水耐抓旅用寵物墊 </a></h3>
							<p><strong>原料成份：</strong><br>100％ POLYESTER
							</p>
							<p><strong>規格：</strong><br>56.0x90.0x5.0cm</p>
							<p><strong>重量：</strong><br>0.85kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/3NdeDM" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/GdMKmZ" class="image featured" target="_blank"><img
									src="images1/48.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/GdMKmZ" target="_blank">狗狗露營趣 室內|戶外防水中大狗防水耐咬墊睡墊 </a></h3>
							<p><strong>原料成份：</strong><br>防水布面料
							</p>
							<p><strong>規格：</strong><br>110cm*68cm</p>
							<p><strong>重量：</strong><br>0.85kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/GdMKmZ" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/DvWoyd" class="image featured" target="_blank"><img
									src="images1/50.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/DvWoyd" target="_blank">奧本 URBANER｜升級款全身用寵物電剪 MB-066 </a></h3>

							<p><strong>使用時間：</strong><br>180分鐘</p>
							<p><strong>重量：</strong><br>204g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/DvWoyd" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/L096M7" class="image featured" target="_blank"><img
									src="images1/51.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/L096M7" target="_blank">中華寵物剪毛器(充插二用) ZHEH-9100A</a></h3>
							<p><strong>使用時間：</strong><br>40分鐘</p>
							<p><strong>重量：</strong><br>345g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/L096M7" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/g8LaQ4" class="image featured" target="_blank"><img
									src="images1/52.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/g8LaQ4" target="_blank">GENTA 專業寵物電剪/推剪A26 採用寵物專用陶瓷刀頭</a></h3>
							<p><strong>使用時間：</strong><br>300分鐘</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/g8LaQ4" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>

					<div class="col-4 col-12-medium">
						<section class="highlight">
							<p>
								<a href="pet-s41.html">1</a>&ensp;
								<strong><a href="pet-s42.html">2</a>&ensp;</strong>

								<br>
							</p>

						</section>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>