<!DOCTYPE HTML>
<html>

<head>
	<title>寵物商城 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="#">寵物記帳</a></li>
							<li><a href="#">飲食紀錄</a></li>
							<li><a href="walkmap-tp.html">散步地圖</a></li>
							<li><a href="#">寵物住宿</a></li>
							<li><a href="petgrooming.html">寵物美容</a></li>
							<li><a href="#">寵物訓練</a></li>
							<li><a href="petadopt.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="shopfirst.html">鮮食</a></li>
							<li><a href="shopsec.html">飼料</a></li>
							<li><a href="shopthird.html">衣服</a></li>
							<li><a href="shopf.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="#">線上諮詢</a></li>
							<li><a href="#">看診項目</a></li>
							<li><a href="#">門診時間</a></li>
							<li><a href="#">健康檢查</a></li>
							<li><a href="#">醫院地圖</a></li>
							<li><a href="#">常見問題</a></li>
							<li><a href="#">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>

		</section>



		<section id="highlights" class="wrapper style3">
			<div class="title">配件</div>
			<div class="container">
				<div class="row aln-center">
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/2r0LlE" class="image featured" target="_blank"><img
									src="images1/41.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/2r0LlE" target="_blank">狗狗貓咪寵物車用防水耐磨安全座椅 </a></h3>
							<p><strong>特色：</strong><br>防暈車設計、透氣網紗、儲物袋</p>
							<p><strong>材質：</strong><br>加密細紋布、EVA耐磨輪胎、環保型塑料、輕質合金</p>
							<p><strong>尺寸：</strong><br>(攤開)140x138 cm / (摺疊)25x18x5 cm</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/2r0LlE" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/W3dNXL" class="image featured" target="_blank"><img
									src="images1/71.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/W3dNXL" target="_blank">車用後座寵物墊</a></h3>
							<p><strong>特色：</strong><br>防水耐咬耐磨、安全帶開扣、可作野餐墊</p>
							<p><strong>材質：</strong><br>600D防水耐刮耐磨牛津布</p>
							<p><strong>尺寸：</strong><br>(攤開)140x138 cm / (摺疊)25x18x5 cm</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/W3dNXL" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/pgdvXQ" class="image featured" target="_blank"><img
									src="images1/72.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/pgdvXQ" target="_blank">汽車後座帶拉鍊隔離網寵物墊</a></h3>
							<p><strong>特色：</strong><br>收納口袋、可調節插扣、安全插扣開口</p>
							<p><strong>材質：</strong><br>600D牛津布+pp棉+滌綸里布+防滑網+PVC防水塗層+網布</p>
							<p><strong>尺寸：</strong><br>137x147 cm</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/pgdvXQ" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/a9rVX4" class="image featured" target="_blank"><img
									src="images1/42.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/a9rVX4" target="_blank">沛德奧Petstro寵物推車-416PA 小漫遊加大版二代</a></h3>
							<p><strong>材質：</strong><br>600-丹尼聚酯纖維、尼龍和鐵管</p>
							<p><strong>重量：</strong><br>3.7kg</p>
							<p><strong>負重：</strong><br>8kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/a9rVX4" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/xGZ7oe" class="image featured" target="_blank"><img
									src="images1/43.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/xGZ7oe" target="_blank">BELLO輕便折疊手推車狗狗貓咪泰迪小推車籠四輪戶外出 </a></h3>
							<p><strong>材質：</strong><br>加密細紋布、EVA耐磨輪胎、環保型塑料、輕質合金</p>
							<p><strong>重量：</strong><br>5kg</p>
							<p><strong>負重：</strong><br>15kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/xGZ7oe" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/2r0L3n" class="image featured" target="_blank"><img
									src="images1/44.jpg" alt="" /></a>
							<h3><a href="https://reurl.cc/2r0L3n" target="_blank">沛德奧Petstro 寵物推車/狗推車-706GX-WB 風馳系列</a></h3>
							<p><strong>材質：</strong><br>６００－丹尼聚脂纖維、尼龍、鐵管</p>
							<p><strong>重量：</strong><br>13kg</p>
							<p><strong>負重：</strong><br>30kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/2r0L3n" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
				
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<p><strong>
								<a href ="pet-s41.html">1</a>&ensp;</strong>
								<a href ="pet-s42.html">2</a>&ensp;
								<a href ="pet-s43.html">3</a>&ensp;
								<a href="pet-s44.html">4</a>&ensp;
							<br></p>

						</section>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>