<!DOCTYPE HTML>
<html>

<head>
	<title>Register DearFurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="left-sidebar is-preload">
	<div id="page-wrapper">
		<section id="header" class="wrapper">
			<div id="logo">
				<h1>Dearfurkid</h1>
			</div>
		</section>

	</div>

	<div id="content2" style="margin:0px auto">

		<div id="content">
			<article class="box post">
				<header class="style1">
					<br>
					<br>
					<span id="username" class="text_field">你的帳號：</span>
					<input name="userID" type="text" maxlength="15" id="userID" style="width: 200px;"
						placeholder="請使用數字、英文"><br><br>
					<span id="userpwd" class="text_field">你的密碼：</span>
					<input name="userpwd" type="password" maxlength="20" id="userpwd" style="width: 200px;"
						placeholder="請使用數字、英文"><br><br>
					<span id="userpwd1" class="text_field">確認密碼：</span>
					<input name="userpwd1" type="password" maxlength="20" id="userpwd" style="width: 200px;"><br><br>

					<span id="useremail" class="text_field">電子信箱：</span>
					<input name="useremail" type="text" maxlength="20" id="useremail" style="width: 200px;"
						placeholder="example@gmail.com"><br><br>
				
					<a href="recheck.html" style="text-decoration:none;" style="color:blue;">送出</a><br>
				</header>
			</article>
		</div>


	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>