<!DOCTYPE HTML>

<html>
	{% extends 'ground.html' %}
	{% block content %}
	{% load static %}
<head>
	<title>關於我們 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body class="no-sidebar is-preload" style="background-color: #f3f3f3" ;>
	<div id="page-wrapper">
	

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<div class="title">關於我們</div>
			<div class="container">

				<div class="col-8 col-12-medium imp-medium">

					<!-- Content -->
					<div id="content" style="margin:35px">
						<article class="box post">
							<div class="col-6 col-12-medium">
								<section>
									<p><h3>●：Dearfurkid創作理念</h3></p>
									<h3>近年來飼養寵物的人逐年遞增，其主要原因一方面為物價漲幅過高，導致很多年輕人結婚卻不敢生小孩，進而選擇飼養寵物；</h3>
									<h3>另一方面，現代人生活壓力過大，因此選擇飼養療癒的寵物來抒發生活壓力。
									</h3>
									<h3>然而現代人飼養寵物不單單只是滿足寵物的食衣住行，而是會將寵物視同小孩子一般的飼養。</h3>
										<h3>平時帶寵物去上課、上補習班、去寵物遊樂場、去認識不同的寵物朋友，讓寵物的生活變得更加多元化。</h3>
										<h3>當有一天寵物可能生病或者去世了，現在也有寵物療養院及殯葬禮儀等相關的服務項目提供給飼養寵物的主人們。
									</h3>
									<h3>目前寵物管理的網頁並不多，經過組員研討分析後，發現功能基本上都大同小異，也不夠生活化。</h3>
										<h3>所以我們做出一個優化和提供新項目的網頁，促進寵物和主人之間的關係更緊密。</h3>
										<h3>幫助使用者紀錄寵物的日常生活，同時也具備寵物醫院和寵物商城的功能，讓使用者可以輕鬆查詢寵物醫療和寵物用品等其他相關資訊。
									</h3><br>
									<p><h3>●：Dearfurkid創作者想說的話</h3></p>
									<p><h3>詹仲：我們主要的創作動機還是源自於一顆愛狗狗的心，想著有什麼可以幫助飼主的東西為出發點，一點一點地構想功能、整合資訊才將這個網頁完成，希望各位使用者會喜歡我們的網頁。</h3></p>
									<p><h3>亞穎：現今市面上的狗狗資訊平台並不多，所以我認為如果可以有個統整狗狗相關資訊的網頁對飼主來說會方便許多。有了這樣的資訊整合網站，就可以在一個網站內找到所有想要的資料，而不需要分開搜尋，提升便利性也節省時間。</h3></p>
									<p><h3>竑達：我自己目前沒有養狗狗，但以後會想要養，然後當主人之前都要有一些的事前準備，所以我就上網查了各方面的資料，但這些資料都分散在各地，有些網站有整理出一些相關的問題，但是都不夠完整，所以在做這個網頁的時候就希望能夠把養寵物或者即將養寵物的各方資訊全部匯集在同一個網頁裡，方便大家觀看。</h3></p>
									<p><h3>家羚：做這個平台的出發點，希望能夠提供飼養者或是有興趣飼養寵物的人，有相關的資料可以查詢。在網站上整合寵物的相關資訊，包括生老病死、食衣住行，期許能做到讓使用者能夠在一個網站上查到需要的資訊。</h3></p>
									<br>
								</section>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
</div>			
</body>
{% endblock %}
</html>
