<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物領養 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="no-sidebar is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="aboutus">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="walk_pet">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming_pet">寵物美容</a></li>
							<li><a href="train_pet">寵物訓練</a></li>
							<li><a href="adopt_pet1">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物商城</a>
						<ul>
							<li><a href="mall_freshfood1">鮮食</a></li>
							<li><a href="mall_feed1">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="mall_clothing1">春夏季</a></li>
									<li><a href="mall_clothing4">秋冬季</a></li>
									<li><a href="mall_clothing7">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="mall_accessories1">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="Hospital_visits">看診項目</a></li>
						<li><a href="Hospital_healthcheck">健康檢查</a></li>
						<li><a href="Hospital_map">醫院地圖</a></li>
						<li><a href="funeral_pet">寵物葬儀</a></li>
						<li><a href="Hospital_commonproblem">常見問題</a></li>
						

					</ul>
				</li>

				</ul>
			</nav>

		</section>
		<section id="main" class="wrapper style2">
			<a href="adopt_pet1">
				<div class="title">寵物領養</div>
			</a>


			<div class="feature-list">
				<div class="row">
					
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/61.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/24<br>
								來源行政區：竹北市<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：右眼疑似白內障<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=211199&AcceptNum=DAAAG1100624002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/62.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/21<br>
								來源行政區：新豐鄉<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=210752&AcceptNum=DAAAG1100621002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/63.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/18<br>
								來源行政區：關西鎮<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=210594&AcceptNum=DAAAG1100618002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/64.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/18<br>
								來源行政區：竹北市<br>
								動物性別：母<br>
								毛色：虎斑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=210602&AcceptNum=DAAAG1100618004&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/65.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：柯基</h3>
							<p>入所日期：2021/06/15<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：花<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：共濟失調，惟涉及動保案件尚在處理中，暫未開放民眾認養(開放日期未定)，待全案處理完成，若後續有沒入及開放民眾認養流程，相關資訊將即時於本網站進行更新<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/66.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/09<br>
								來源行政區：新埔鎮<br>
								動物性別：母<br>
								毛色：黑黃<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209606&AcceptNum=DAAAG1100609007&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/67.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/11<br>
								來源行政區：新埔鎮<br>
								動物性別：公<br>
								毛色：花<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209917&AcceptNum=DAAAG1100611001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/68.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/09<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：皮膚病<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209604&AcceptNum=DAAAG1100609005&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/69.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/07<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：右眼受傷<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209133&AcceptNum=DAAAG1100607003&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/69.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/07<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：右眼受傷<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209133&AcceptNum=DAAAG1100607003&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/70.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：博美</h3>
							<p>入所日期：2021/06/07<br>
								來源行政區：竹東鎮<br>
								動物性別：公<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：皮膚病<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/71.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/04<br>
								來源行政區：新豐鄉<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：已剪耳,鼠蹊皮膚撕裂傷,骨盆骨折<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208957&AcceptNum=DAAAG1100604001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/72.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/02<br>
								來源行政區：新埔鎮<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208740&AcceptNum=DAAAG1100602001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/73.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/01<br>
								來源行政區：關西鎮<br>
								動物性別：公<br>
								毛色：虎斑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208629&AcceptNum=DAAAG1100601002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/74.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：新豐鄉<br>
								動物性別：母<br>
								毛色：黑白<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208124&AcceptNum=DAAAG1100526006&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/75.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：橫山鄉<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208072&AcceptNum=DAAAG1100526001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/76.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：柴犬</h3>
							<p>入所日期：2021/05/07<br>
								來源行政區：竹北市<br>
								動物性別：公<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：畜主口述會咬人,建議有犬隻飼養經驗者再行領養,約6歲,預定於110年5月12日(三)早上九點開放認養(若認養民眾多採抽籤方式)，須年滿20歲，若家中有飼養其他動物請提供有效期限(最近一年內)的狂犬病注射證明。線上填寫認養名單僅供資料審核，不代表認養優先權。<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=205701&AcceptNum=DAAAG1100507005&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/77.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/05<br>
								來源行政區：湖口鄉<br>
								動物性別：母<br>
								毛色：白<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=205258&AcceptNum=DAAAG1100505002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/78.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/04/30<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=204750&AcceptNum=DAAAG1100430008&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/79.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/04/21<br>
								來源行政區：竹北市<br>
								動物性別：公<br>
								毛色：白<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：剪耳<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=203478&AcceptNum=DAAAG1100421001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/80.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/04/21<br>
								來源行政區：竹北市<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=203481&AcceptNum=DAAAG1100421004&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					
				</div>
			</div>
		
			<ul class="actions special">
				<section class="highlight">
					<p>
						<a href ="adopt_pet1">1</a>&ensp;
						<a href ="adopt_pet2">2</a>&ensp;
						<a href ="adopt_pet3">3</a>&ensp;
						<strong><a href ="adopt_pet4">4</a>&ensp;</strong>
						<a href="adopt_pet5">5</a>&ensp;
						<a href="adopt_pet6">6</a>&ensp;
						<a href="adopt_pet7">7</a>&ensp;
					<br></p>
				</section>
				<p><strong><a href="#top">
							TOP
						</a></strong></p>
				<li><a href="https://reurl.cc/4agZ5K" class="button style2 large" target="_blank">查看更多</a></li>
			</ul>
		</section>
	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>