{% extends 'base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block content %}
<div id="main" class="wrapper style2" style=";padding-bottom: 0px;padding-top: 20px;" ;>
        <div class="title" style="" ;>行事曆</div>
    </div>
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'pets:calendar' %}?{{ prev_month }}"> 上個月 </a>
	<a class="btn btn-info right" href="{% url 'pets:calendar' %}?{{ next_month }}"> 下個月 </a>
	<a class="btn btn-info left" href="{% url 'pets:CalTitle' %}"> 我的事件 </a>
	<a class="btn btn-info right" href="javascript:" onclick="page()" > 建立事件 </a>

</div>
<script type="text/javascript">
    function page() {
		let searchData = new URLSearchParams(window.location.search);
		// var searchData = window.location.search; // For Safari
		if (searchData.has('token') == true ) {
			var user = searchData.get('token')
			var Url = "event/new/?user=" + user
			}
		else {
			var Url = ""
		}
		document.location.href = Url
	}
</script>

{{ calendar }}
{% endblock %}





