{%  extends 'base.html' %}

{% block content %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'pets:calendar' %}"> Calendar </a>
</div>


<br>

<div class="row">
    <div class="col-md-7">
        <h5>我的所有事件</h5>
        <form method="get" action="{% url 'pets:result' %}">
            {% csrf_token %}
            <input type="search" name="q" placeholder="搜索" required>
            <button type="submit">搜索</button>

        </form>

        <form method="post">
            {% csrf_token %}
            <select name="orderOption">
                <option selected="selected" disabled>選擇排序方式</option>
                <option value="dateASC">依日期(由遠至近)</option>
                <option value="dateDESC">依日期(由近至遠)</option>　
                <option value="createtimeASC">建立時間(先建立的優先)</option>
                <option value="createtimeDESC">建立時間(後建立的優先)</option>
            </select>
            <button type="submit" class="btn btn-outline-info">確定</button>
        </form>


            <a href="/pets/advancedsearch/" class="btn btn-danger" style="font-size:18px">進階搜尋</a>


        {% for event in EvenName %}

            <table class="table table-bordered">
                <tr>
                    <td>title</td>
                    <!--最前面加/才能換到要的頁面不然會在原本的URL下繼續加-->
                    <td><a href="/pets/event/edit/{{event.id}}"> {{event.title}} </a></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{event.description}}</td>
                </tr>
                <tr>
                    <td>start_time</td>
                    <td>{{event.start_time}}</td>
                </tr>

            </table>
        {% endfor %}


        </table>
    </div>
</div>

</div>

{% endblock %}