{% extends 'base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'pets:calendar' %}"> Calendar </a>
</div>

<form method="post">

  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr>
      <td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td>
      <td><a href="/pets/delEvent/{{eventid.id}}" class="btn btn-danger" style="font-size:18px">刪除</a></td>
    </tr>
  </table>

</form>
應該照著剛剛那個就可以刪掉? 好 我再研究看看恩恩 我快睡著了= 沒事
快去睡 總之就是要把值帶進去有很多方法 如果你真的弄不出來  就試著變成跟標籤依樣方式大URL 後面用?帶值近來
應該愾一些教學就知道了XD 好  我明天七點鐘起床 你老ㄌ 我已經寫了一天C# 哈哈哈相信握 比這個難 好啦~ 先這樣 謝謝你呀
然後可以用VSCODE 這個我好不愛 我推薦的人都用的很爽XD
這個好難用= =我有用那個 只是專題是用這個  考試用黑筆蘭筆友差嗎
都是邊一編出來不會怎樣
會互通的 好了我要睡了來斷線

{% endblock %}


<link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
          integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        $('#id_time').datetimepicker({
            step:15,
        });
    });
</script>