<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物葬儀 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="homepage is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="aboutus">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="walk_pet">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming_pet">寵物美容</a></li>
							<li><a href="train_pet">寵物訓練</a></li>
							<li><a href="adopt_pet1">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物商城</a>
						<ul>
							<li><a href="mall_freshfood1">鮮食</a></li>
							<li><a href="mall_feed1">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="mall_clothing1">春夏季</a></li>
									<li><a href="mall_clothing4">秋冬季</a></li>
									<li><a href="mall_clothing7">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="mall_accessories1">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="Hospital_visits">看診項目</a></li>
						<li><a href="Hospital_healthcheck">健康檢查</a></li>
						<li><a href="Hospital_map">醫院地圖</a></li>
						<li><a href="funeral_pet">寵物葬儀</a></li>
						<li><a href="Hospital_commonproblem">常見問題</a></li>
						

					</ul>
				</li>

				</ul>
			</nav>


		</section>

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<div class="title">寵物葬儀</div>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-8 col-12-medium">

						<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									<p><strong>寵物葬儀相關事宜</strong></p>
								</header>
								
								<p><h2>如何處理寵物身後事</h2>
									<br>別讓寵物遺體在室溫太久</br>
									<br>不要讓遺體碰水</br>
									<br>不要過度包裹遺體</br>
									<br>不要加毛小孩熱遺體</br>
									</p>

								<p><h2>寵物後事處理可以委託這 3 處</h2>
								<br>動物醫院：在毛小孩往生之後，送到動物醫院或獸醫院處理，再由獸醫院委託民間業者，進行火化。</br>
								<br>民間寵物殯葬業者：在毛小孩往生之後，直接找找民間寵物殯葬業者協助，不僅有遺體接運服務，也可根據飼主的宗教信仰為寵物做不同的禮儀程序，甚至還可提供客製化的紀念商品。專業的「寵物殯葬」服務，從屍體接運、火化，到骨灰埋藏、安置。</br>
								<br>公家機關：最省錢的處理方式，就是請公家機關處理了，根據不同縣市規定還會有相關優惠減免。申請人須將寵物屍體以塑膠袋承裝、並攜帶下列文件至受理地點辦理寵物屍體焚化：</br>
								</p>

								<br>1.委託焚化申請書（可於網頁下載或現場填寫）。</br>
								<br>2.飼主身分證明文件。</br>
								<br>3.寵物登記證證明文件。</br>
								<br>4.寵物除戶申請表（現場櫃檯提供）。</br>
								<br>5.若申請人非寵物之原飼主時，須出具原飼主之委託書以辦理焚化。</br>
								

								<br>
								<p><h2>寵物火化方式選擇</h2>
								<br>個別火化流程：一次火化一位寶貝。個別火化的家人可選擇觀禮，骨灰可選擇帶回/安置塔位/個人位樹葬</br>
								<br>團體火化流程：團體火化為一次火化多位寶貝。團體火化無法選擇觀禮，寶貝骨灰統一灑葬，回歸自然。</br>
								</p>

								<br>
								<p><h2>寵物骨灰安置方法</h2>
								<br>存放於寵物骨灰罈並安置在家裡</br>
								<br>寵物盆栽葬(寵物骨灰盆栽)</br>
								<br>安置於寵物靈骨塔/納骨塔</br>
								<br>寵物多元環保葬(灑葬、樹葬、植葬)</br>
								<br>寵物骨灰紀念品</br>
								</p>
								
							</article>
						
						</div>

					</div>
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar">
							<section class="box">
								<header>
									<h2>目錄</h2>
								</header>
								<a href="funeral_pet">
									<p\>寵物葬儀首頁</p>
								</a>
								<a href="funeral_find">
									<p\>尋找寵物葬儀</p>
								</a>
								
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/dxaR6q" target="_blank" class="image left"><img src="{% static 'images/fu1.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/dxaR6q" target="_blank" >寵物可以安樂嗎？寵物過世怎麼辦？ | 愛的</a></h3>
											<p>寵物死亡怎麼辦？寵物跟人一樣，何時會走?會因為牠的年齡(老年)...</p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/yeA2Kq" target="_blank" class="image left"><img src="{% static 'images/fu2.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/yeA2Kq" target="_blank">你知道寵物過世處理方法嗎？原來寵物火化費用會依體重而不同 | 冬瓜行旅</a></h3>
											<p>對於有寵物的家庭而言，寵物就是他們的「親人」，但是養寵物就勢必得經歷牠們的生老病死... </p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/95nMlx" class="image left"><img src="{% static 'images/fu3.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/95nMlx">對過世毛孩心懷愧疚？溝通師：其實動物都知道你為牠好 | ETtoday新聞雲</a></h3>
											<p>看面臨毛小孩過世，很多人除了悲痛，還可能伴隨著「罪惡感」...</p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/52Reznx" class="image left"><img src="{% static 'images/fu4.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/52Rezn">親如家人的寵物過世，如何走出悲傷？安慰毛小孩主人可以這樣說 | 大家健康</a></h3>
											<p>狗狗是人類最忠誠的朋友，不論你喜怒哀樂牠都樂意相陪...</p>
										</article>
									</li>
								</ul>

							</section>

						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- Highlights -->
		

	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>