{%  include 'navbar.html' %}
{% block content %}

		</section>
		<!-- Main -->
		<section id="main" class="wrapper style2">
			<a href="grooming_pet">
				<div class="title">寵物美容</div>
			</a>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar">
							<section class="box">
								<header>
									<a name="回上面" id="回上面">
										<h2>目錄</h2>
									</a>

								</header>
								<a href="grooming_pet">
									<p\>寵物美容首頁</p>
								</a>
								<a href="gromming_find">
									<p\>尋找美容院</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>快速尋找</h2>
								</header>
								<a href="#雙北市">
									<p>雙北市</p>
								</a>
								<a href="#桃園市">
									<p>桃園市</p>
								</a>
								<a href="#台中市">
									<p>台中市</p>
								</a>
								<a href="#台南市">
									<p>台南市</p>
								</a>
								<a href="#高雄市">
									<p>高雄市</p>
								</a>
							</section>
							<section class="box">
								{% load static %}
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/2bdOlX" target="_blank" class="image left"><img
													src="{% static 'images/dog8.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/2bdOlX"
													target="_blank">如何選擇寵物美容店？｜寵物美容老師—林文琳｜PetTalk說寵物</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/R6ZoQn" target="_blank" class="image left"><img
													src="{% static 'images/dog9.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/R6ZoQn"
													target="_blank">DIY剃毛省1千4！約克夏慘變「發胖吉娃娃」尬笑：吉救無效
													｜ETtoday</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/KxaovR" target="_blank" class="image left"><img
													src="{% static 'images/dog10.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/KxaovR"
													target="_blank">超狂嬤閒著隨手剃！2狗成「光滑糯米腸」　媽驚：被耽誤的美容師 | ETtoday</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/g8qopV" target="_blank" class="image left"><img
													src="{% static 'images/dog11.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/g8qopV"
													target="_blank">「我考寵物美容師證花了三年，辭職只用了三分鐘」｜每日頭條</a>
											</h3>

										</article>
									</li>

								</ul>

							</section>

						</div>

					</div>
					<div class="col-8 col-12-medium imp-medium">

						<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									<h2>以下都是在Google推薦的好評美容院</h2>
									<br>
									<p><strong><a name="雙北市" id="雙北市"></a>雙北市</strong></p>
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1QASBn701suODC3Wl6bjruz8k_42CXgvz" width="640" height="480"></iframe>
									<p><strong>毛日子寵物美容精品 5.0★</strong></p>
									<p>地址：台北市中山區遼寧街45巷36號</p>
									<p>電話：(02)2778-3139</p>
									<br>
									<p><strong>DOMO PET HOUSE 5.0★</strong></p>
									<p>地址：新北市板橋區永豐街51號</p>
									<p>電話：(02)8953-8181</p>
									<br>
									<p><strong>茹啦啦寵物美容歐式護理spa 4.9★</strong></p>
									<p>地址：新北市板橋區廣和街35號</p>
									<p>電話：(02)2956-0189</p>
									<br>
									<p><strong>Luby Pet Spa 路比寵物美容 4.7★</strong></p>
									<p>地址：台北市信義區仁愛路四段468號</p>
									<p>電話：(02)2720-1777</p>
									<br>
									<p><strong>佳佳寵物用品店暨寵物美容 4.6★</strong></p>
									<p>地址：新北市土城區中央路一段53號</p>
									<p>電話：(02)2270-5026</p>
									<br>
									<p><strong>CHIEN BON BON 寵物洗澎澎 4.6★</strong></p>
									<p>地址：台北市松山區健康路260號</p>
									<p>電話：(02)2760-7766</p>
									<br>
									<p><strong><a href="#top">
												返回雙北市
											</a></strong></p><br><br>
									
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1Q3yBZ7r1Ds6Xqj5Se3O5hKRc0XgJ-bOu" width="640" height="480"></iframe>
									<p><strong><a name="桃園市" id="桃園市"></a>桃園市</strong></p>
									<p><strong>哈比寵物美容 4.9★</strong></p>
									<p>地址：桃園市桃園區大業路一段32號</p>
									<p>電話：(03)333-9896</p>

									<br>
									<p><strong>布居寵物生活別館 4.6★</strong></p>
									<p>地址：桃園市桃園區同安街576號</p>
									<p>電話：0988-363-908</p>
									<br>
									<p><strong>So Sweet 真貼心寵物美容旅館 4.5★</strong></p>
									<p>地址：桃園市中壢區延平路352號</p>
									<p>電話：(03)427-0580</p>
									<br>
									<p><strong>寵物反斗城 4.4★</strong></p>
									<p>地址：桃園市桃園區大林路20-1號</p>
									<p>電話：(03)367-3006</p>
									<br>
									<p><strong>中圓寵物家族 4.3★</strong></p>
									<p>地址：桃園市八德區介壽路二段1072號</p>
									<p>電話：(03)365-6008</p>
									<br>
									<p><strong>晨曦寵物 4.0★</strong></p>
									<p>地址：桃園市桃園區龍安街109號</p>
									<p>電話：(03)360-9911</p>
									<br>
									
									
									<p><strong><a href="#桃園市">
												返回桃園市
											</a></strong></p><br><br>

									<p><strong><a name="台中市" id="台中市"></a>台中市</strong></p>
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1bBx3cJQzvKd6U3GSa4n16ttUC6aeEriE" width="640" height="480"></iframe>
									<p><strong>寵物美容wongwonghouse 4.8★</strong></p>
									<p>地址：台中市北區原子街161號</p>
									<p>電話：0906-020-888</p>
									<br>
									<p><strong>狗然自得Go Relax 4.8★</strong></p>
									<p>地址：台中市南屯區文心南六路19號2樓</p>
									<p>電話：(04)2475-9429</p>
									<br>
									<p><strong>瑋特貓狗SPA生活館 4.7★</strong></p>
									<p>地址：台中市南屯區大墩十一街648號</p>
									<p>電話：(04)2320-8339</p>
									<br>
									<p><strong>萬達寵物 WonderPet 4.7★</strong></p>
									<p>地址：台中市南屯區公益路二段169號</p>
									<p>電話：(04)2325-0800</p>
									<br>
									<p><strong>寵愛新貴寵物生活館 4.6★</strong></p>
									<p>地址：台中市南區大慶街二段6之16巷78號</p>
									<p>電話：(04)2265-3537</p>
									<br>
									<p><strong>愛美狗 4.0★</strong></p>
									<p>地址：台中市西屯區西屯路二段30-2號</p>
									<p>電話：(04)2314-9230</p>
									<br>
									<p><strong><a href="#台中市">
												返回台中市
											</a></strong></p><br><br>


									<p><strong><a name="台南市" id="台南市"></a>台南市</strong></p>
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1dVs1Qtlrv1Tkis1y80YuV3_dxzsPCi29" width="640" height="480"></iframe>
									<p><strong>犬貓部屋寵物沙龍 5.0★</strong></p>
									<p>地址：台南市永康區永大路二段128-5號</p>
									<p>電話：0955-513-271</p>
									<br>
									
									<p><strong>謎果王子寵物美容工坊 5.0★</strong></p>
									<p>地址：台南市北區公園北路80號</p>
									<p>電話：(06)251-4896</p>
									<br>
									<p><strong>快樂歐昔比寵物生活概念館 4.9★</strong></p>
									<p>地址：台南市新市區民族路113號</p>
									<p>電話：(06)589-9976</p>
									<br>
									<p><strong>蕎逸寵物店 4.8★</strong></p>
									<p>地址：台南市南區明興路53號</p>
									<p>電話：(06)262-8866</p>
									<br>
									<p><strong>啾咪Jumi寵物美容/毛小孩旅館 4.7★</strong></p>
									<p>地址：台南市東區前鋒路52號</p>
									<p>電話：0936-573-866</p>
									<br>
									<p><strong>MUMAO 牧貓精品寵物旅館 4.6★</strong></p>
									<p>地址：台南市東區裕農路375號B1</p>
									<p>電話：(06)208-5491</p>
									<br>
									<p><strong><a href="#台南市">
												返回台南市
											</a></strong></p><br><br>
									<p><strong><a name="高雄市" id="高雄市"></a>高雄市</strong></p>
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1HxyBagE9mWSXIlzd-1np1foECzLhR4UO" width="640" height="480"></iframe>
									<p><strong>王子與公主寵物美容 5.0★</strong></p>
									<p>地址：高雄市左營區西陵街94號</p>
									<p>電話：(07)588-6986</p>
									<br>
									<p><strong>大社犬貓美容 4.9★</strong></p>
									<p>地址：高雄市大社區中山路42號</p>
									<p>電話：(07)358-1819</p>
									<br>
									<p><strong>Q瑪寵物沙龍 4.8★</strong></p>
									<p>地址：高雄市三民區九如一路980號</p>
									<p>電話：(07)389-2925</p>
									<br>
									<p><strong>88寵物沙龍SPA 4.7★</strong></p>
									<p>地址：高雄市三民區大慶街88號</p>
									<p>電話：(07)392-8100</p>
									<br>
									<p><strong>初心寵物美容沙龍 4.6★</strong></p>
									<p>地址：高雄市左營區重信路391號</p>
									<p>電話：(07)350-3355</p>
									<br>
									<p><strong>嬌滴滴寵物 4.4★</strong></p>
									<p>地址：高雄市前鎮區一心二路42號</p>
									<p>電話：(07)333-1239</p>
									<br>
								
									<p><strong><a href="#高雄市">
												返回高雄市
											</a></strong></p>
								</header>

							</article>

						</div>

					</div>
				</div>
			</div>
		</section>
	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<a type="button" id="BackTop" class="toTop-arrow"></a>
	<!--	GO TOP Button-->
{% endblock %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>
		$(function(){
			$('#BackTop').click(function(){ 
				$('html,body').animate({scrollTop:0}, 333);
			});
			$(window).scroll(function() {
				if ( $(this).scrollTop() > 300 ){
					$('#BackTop').fadeIn('Fixed');
				} else {
					$('#BackTop').stop().fadeOut('Fixed');
				}
			}).scroll();
		});
		</script>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>