<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>常見問題 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="homepage is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="aboutus">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="walk_pet">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming_pet">寵物美容</a></li>
							<li><a href="train_pet">寵物訓練</a></li>
							<li><a href="adopt_pet1">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物商城</a>
						<ul>
							<li><a href="mall_freshfood1">鮮食</a></li>
							<li><a href="mall_feed1">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="mall_clothing1">春夏季</a></li>
									<li><a href="mall_clothing4">秋冬季</a></li>
									<li><a href="mall_clothing7">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="mall_accessories1">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="Hospital_visits">看診項目</a></li>
						<li><a href="Hospital_healthcheck">健康檢查</a></li>
						<li><a href="Hospital_map">醫院地圖</a></li>
						<li><a href="funeral_pet">寵物葬儀</a></li>
						<li><a href="Hospital_commonproblem">常見問題</a></li>
						

					</ul>
				</li>

				</ul>
			</nav>


		</section>

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<div class="title">常見問題</div>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-8 col-12-medium">

						<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									
								</header>
								<p><strong><a name="養寵物之前要考慮的問題" id="養寵物之前要考慮的問題"></a>養寵物之前要考慮的問題</strong><br><br>
									1.是否能夠負擔生活支出<br>
									除了正常性的支出，包含飼料、狗窩、玩具、健康檢查、看病等，還必須存有一筆額外的醫療花費或其他支出，以備不時之需！<br><br>
									2.有能力陪伴與照顧寵物<br>
									寵物其實跟人類一樣，都是需要陪伴、相處及照顧的。現代人生活忙碌，回到家只想休息，不小心就會忽略在家痴痴等候的牠們<br><br>
									3.同居者是否同意飼養寵物<br>
									養寵物雖是自己的責任，但如果是和家人或室友同住的話，勢必得考量到其他人的心情。不管是養貓或狗，難免會替生活帶來些麻煩，例如愛吠叫、大小便、家中有異味、破壞家具物品、掉毛、過敏等問題。<br><br>
									4.能提供理想環境給寵物<br>
									領養寵物前，除考量生活基本所需外，也別忽略提供適合寵物的生活環境，像是家裡活動空間夠不夠等問題。讓寵物快活地跑來跑去，必須去試著創造一個寵物及飼主都能舒適生活的環境。<br><br>
									5.是否有小孩<br>
									如果有，他們的年紀多大？您可能須要花時間教導年幼的孩子，讓他們知道如何與寵物相處。您可能還需要考慮當您不在的時候，寵物應安置在什麼地方，因為年幼的兒童不能單獨與寵物相處。<br><br>
									6.領養前已累積相關知識<br>
									領養寵物前，除了要做好萬全心理準備外，同時也該充實自己的寵物相關知識，可以買些相關書籍來看，或是詢問家裡有養寵物的親朋好友，吸取寶貴的飼養經驗。不管是飼料或罐頭的挑選、如何正確餵食保健品、注意營養都是很重要的課題！<br><br>
									7.定時除蚤、施打預防針<br>
									每年定期的健康檢查、施打預防針或疫苗，也必須多加小心留意！尤其如果是經常讓家裡毛寶貝在外蹦跳的飼主們，三不五時的幫牠們洗澡、除蚤，不只對牠們的身體健康有益處，同時維護自己的居住環境的整潔喔！<br><br>
									8.是不是會對狗過敏<br>
									如果你是易過敏體質，在領養寵物前恐怕就得再慎重思考一下了！雖然造成過敏的原因百百種，但如果飼養寵物後，在居家環境的維護上，的確需要花更多心思、多加留意把關。<br><br>
									9.居住地方是否允許飼養<br>
									外宿者須考量房東是否同意飼養寵物，看當初契約上有無寫明不得飼養寵物，如果是住在公寓大樓，也須考量其他住戶的安寧。<br><br>
									10.做好領養寵物心理建設<br>
									毛小孩不是玩具、是一條寶貴的生命，許多人常常忽略，領養寵物前必須做好足夠的心理準備。像是釐清自己是否因一時衝動？考量是否願意為寵物付出時間？是否意識到即將有個新成員出現在生活中、又會對生活帶來什麼改變？這些都是必須考量的要素之一。<br><br>
								</p>
								<br>
								<p><strong><a name="飲食" id="飲食"></a>飲食</strong><br><br>
									1.每日餵食量應該多少<br>
									依照理想體重，參考飼料包裝背面的建議一天餵食量。建議餵食量僅作為初期的參考，可依季節性、活動量、身體狀況來做調整。<br><br>
									2.換飼料該如何轉換餵食<br>
									轉換餵食新飼料可以先和原來的飼料混在一起，大約7-10天的時間轉換成新的飼料。可以性質相同的罐頭開始以提高嗜口性，再逐漸混合性質相同的乾料，直到完全接受乾料食品。<br><br>
									3.寵物不能吃什麼東西<br>
									巧克力、洋蔥、大蒜、韭菜、葡萄、葡萄乾、酪梨、酒精、夏威夷豆、肝臟、骨頭、生雞蛋、生肉及家禽肉、豬肉、牛奶、菇類、蘋婆(鳳眼果)。<br><br>
									4.乾糧營養選擇<br>
									乾糧的營養成分比較穩定、平均、狗兒從咀嚼中，可以順便清理牙結石，止癢。但若有泌連結石的問題，要盡量避免吃乾糧，除非那是針對結石的處方飼料。<br><br>
									5.狗狗厭食應對方法<br>
									先停用食一天同時要給予足夠的水、增加狗狗的運動量及多帶寵物出門散步。<br><br>
								</p>
								<br>
								<p><strong><a name="清潔" id="清潔"></a>清潔</strong><br><br>
									1.是否有需要刷牙<br>
									主人最好每天幫狗狗刷牙，因為唾液和食物殘渣，可能造成牙菌斑、牙結石或牙齦炎，如果不儘早處理，可能形成牙周病或齒膜炎，嚴重的話會導致下顎骨軟化斷裂。半年至1年帶狗狗洗一次牙。<br><br>
									2.洗澡頻率<br>
									若為經常外出的寵物最好在一周洗一次，若為長久待在家中的寵物，一個月最多洗1~2次澡即可。除非疾病需要，洗澡頻率才需調高。<br><br>
									3.耳朵清潔<br>
									正確清潔的方法是將清耳液倒幾滴在耳道，並輕輕按摩耳根，待軟化耳垢後讓狗狗自然甩出清耳液後，再用衛生紙將外耳擦拭乾淨。<br><br>
								</p>
							</article>
						
						</div>

					</div>
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar">
							<section class="box">
								<header>
									<h2>快速尋找</h2>
								</header>
								<a href="#養寵物之前要考慮的問題">
									<p>養寵物之前要考慮的問題</p>
								</a>
								<a href="#飲食">
									<p>飲食</p>
								</a>
								<a href="#清潔">
									<p>清潔</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/KAA8q9" target="_blank" class="image left"><img src="{% static 'images/dog45.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/KAA8q9" target="_blank" >狗與貓會感染Covid-19嗎 | 希爾思</a></h3>
											<p>冠狀病毒、COVID-19 與您的寵物：您需要知道的事 </p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/3aaKWj" target="_blank" class="image left"><img src="{% static 'images/dog5.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/3aaKWj" target="_blank">舔一口竟致命！與寵物安全互動4原則 | 康健</a></h3>
											<p>近日國外出現4起因為寵物貓狗舔舐而死亡或截肢的新聞... </p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/eEEMlK" class="image left"><img src="{% static 'images/dog6.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/eEEMlK">7種方法 簡單對抗寵物過敏 | 早安健康</a></h3>
											<p>看到路上可愛的貓貓狗狗，總讓人情不自禁想摸摸牠們，但如果對牠們的毛過敏...</p>
										</article>
									</li>
								</ul>

							</section>

						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- Highlights -->
		

	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<a type="button" id="BackTop" class="toTop-arrow"></a>
	</body>
	<!--	GO TOP Button-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>
		$(function(){
			$('#BackTop').click(function(){ 
				$('html,body').animate({scrollTop:0}, 333);
			});
			$(window).scroll(function() {
				if ( $(this).scrollTop() > 300 ){
					$('#BackTop').fadeIn('Fixed');
				} else {
					$('#BackTop').stop().fadeOut('Fixed');
				}
			}).scroll();
		});
		</script>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</html>