<!DOCTYPE HTML>

<html>
	{% extends 'ground.html' %}
	{% block content %}
	{% load static %}
<head>
	<title>健康檢查 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body class="homepage is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">
		<!-- Main -->
		<section id="main" class="wrapper style2">
			<div class="title">健康檢查</div>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-8 col-12-medium">

						<!-- Content -->
						<div id="content" style="margin:35px">
							<article class="box post">
								<!--<header class="style1">
									<img src="images/dog46.jpg" alt="" class="image featured" />
								</header>-->
								<p><strong>為什麼要做健康檢查？</strong><br>
									做健康檢查的目的最主要的就是預防，因為動物不會告訴我們哪裡不舒服，所以我們要透過健康檢查的方式來了解毛小孩的身體狀況。</p>
								<br>
								<p><strong>健康檢查分類</strong><br>
									健檢有分為五種：<br>
									1.基本健康檢查(5歲以下)<br>
									2.基本健康檢查(5~8歲)<br>
									3.基本健康檢查(8歲以上)<br>
									4.心臟功能檢查<br>
									5.傳染病快速篩檢<br><br>
									現在的健康檢查分的比較細，會針對狗狗的年齡來做相對應的檢查，定期做健康檢查能夠提早預防以及及時發現狗狗的身體狀況。</p>
								<br>
							</article>

						</div>

					</div>
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar" style="margin:35px">
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/xGGK3Z" target="_blank" class="image left"><img
													src="{% static 'images/dog45.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/xGGK3Z" target="_blank">今年毛小孩的健康檢查做了嗎? |
													zoetis</a></h3>
											<p>相信許多飼主看到這個標題，一定心中滿滿黑人問號...</p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/lRRanj" target="_blank" class="image left"><img
													src="{% static 'images/dog5.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/lRRanj" target="_blank">毛孩健檢報你知 |
													HOTPETS</a></h3>
											<p>健康檢查的最大目的，在於預防毛小孩罹患... </p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/XWWa9a" class="image left"><img
													src="{% static 'images/dog6.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/XWWa9a">毛孩就在不知不覺中慢慢變老｜PetTalk愛寵健康談</a></h3>
											<p>犬貓的老化速度是人類的7～10倍，衰老時間比人類...</p>
										</article>
									</li>
								</ul>

							</section>

						</div>

					</div>
				</div>
			</div>
		</section>
</div>
</body>
{% endblock %}
</html>