<!DOCTYPE HTML>
<html>
	{% load static %}
<head>
	<title>DearFurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="left-sidebar is-preload" background="{% static 'images/bg4.jpg ' %} ">
	<div id="page-wrapper">
		<section id="header1" class="wrapper">
			<div id="logo">
				<h1>Dearfurkid 寵物資訊管理</h1>
			</div>
		</section>

	</div>
	{% csrf_token %}
    <div class="container">
       
        <form method="post" class="form-inline my-2 my-lg-0">
            <div style="text-align:center">
                <h1>登入 DearFurkid</h1><br>
                <input class="form-control mr-sm-2" type="text" style="width: 200px;height: 50px;" name="username"
                    placeholder="Username"><br><br>
                <input class="form-control mr-sm-2" type="password" style="width: 200px;height: 50px;" name="password"
                    placeholder="Password"><br><br>
                <button class="button style1" type="submit">登入
                </button>
            </div>&nbsp
            {% csrf_token %}
        </form>
    </div>

	<div id="content">
		<article class="box post">
			<header class="style1">
				
				<p align ="center">
	
					<a href="register" target=""  style="color:black;">註冊 </a>&emsp;
					<a href="index" target="" style="color:black;" >訪客進入</a>
				</p>
			</header>
			<br>
			

		</article>

	</div>

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>