{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/calstyle.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>
<body>
        <nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="h7">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="pet-f">飲食紀錄</a></li>
							<li><a href="walk">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming">寵物美容</a></li>
							<li><a href="train">寵物訓練</a></li>
							<li><a href="adopt">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="s11">鮮食</a></li>
							<li><a href="s21">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="s31">春夏季</a></li>
									<li><a href="s34">秋冬季</a></li>
									<li><a href="s37">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="s41">配件</a></li>
				</ul>
				</li>
				<li>
</body>
</html>