<!DOCTYPE HTML>
<html>
	{% load static %}
<head>
	<title>寵物商城 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="homepage is-preload"style="background-color: #f3f3f3";>
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="aboutus">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="#">飲食紀錄</a></li>
							<li><a href="walk_pet">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming_pet">寵物美容</a></li>
							<li><a href="train_pet">寵物訓練</a></li>
							<li><a href="adopt_pet1">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="mall_freshfood1">鮮食</a></li>
							<li><a href="mall_feed1">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="mall_clothing1">春夏季</a></li>
									<li><a href="mall_clothing4">秋冬季</a></li>
									<li><a href="mall_clothing7">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="mall_accessories1">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="Hospital_visits">看診項目</a></li>
						<li><a href="Hospital_healthcheck">健康檢查</a></li>
						<li><a href="Hospital_map">醫院地圖</a></li>
						<li><a href="funeral_pet">寵物葬儀</a></li>
						<li><a href="Hospital_commonproblem">常見問題</a></li>

					</ul>
				</li>

				</ul>
			</nav>

		</section>


		<section id="highlights" class="wrapper style3">
			<div class="title">配件</div>
			<div class="container">
				<div class="row aln-center">
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/2r0Lyr" class="image featured" target="_blank"><img
									src="{% static 'images1/45.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/2r0Lyr" target="_blank">小獸星冷感寵物冰絲睡墊 </a></h3>
							<p><strong>材質：</strong><br>A表面涼感針織面料(灰色) 50%錦綸+50%黏膠纖維/B表面面料(藍色) 100%全滌/填充物 100%聚氨酯纖維</p>
							<p><strong>規格：</strong><br>（M） 60x45cm、（L） 75x52cm</p>
							<p><strong>重量：</strong><br>（M） 600g、（L） 845g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/2r0Lyr" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/a9rV83" class="image featured" target="_blank"><img
									src="{% static 'images1/46.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/a9rV83" target="_blank">玉石冰雪纖維散熱冷涼感雪屋兩用寵物床墊/睡墊M</a></h3>
							<p><strong>材質：</strong><br>聚酯纖維</p>
							<p><strong>規格：</strong><br>46x36x15cm</p>
							<p><strong>重量：</strong><br>610g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/a9rV83" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/a9rVg9" class="image featured" target="_blank"><img
									src="{% static 'images1/47.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/a9rVg9" target="_blank">春秋冬保暖寵物棉墊四季寵物墊S </a></h3>
							<p><strong>材質：</strong><br>聚酯纖維
							</p>
							<p><strong>規格：</strong><br>46x36x15cm</p>
							<p><strong>重量：</strong><br>610g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/a9rVg9" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/pgd6Gr" class="image featured" target="_blank"><img
									src="{% static 'images1/49.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/pgd6Gr" target="_blank">防水耐抓旅用寵物墊 </a></h3>
							<p><strong>材質：</strong><br>100％ POLYESTER
							</p>
							<p><strong>規格：</strong><br>56.0x90.0x5.0cm</p>
							<p><strong>重量：</strong><br>0.85kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/pgd6Gr" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/ZGOWKV" class="image featured" target="_blank"><img
									src="{% static 'images1/48.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/ZGOWKV" target="_blank">狗狗露營趣 室內|戶外防水中大狗防水耐咬墊睡墊 </a></h3>
							<p><strong>材質：</strong><br>防水布面料
							</p>
							<p><strong>規格：</strong><br>110cm*68cm</p>
							<p><strong>重量：</strong><br>0.85kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/ZGOWKV" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/ZGOWKV" class="image featured" target="_blank"><img
									src="{% static 'images1/73.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/ZGOWKV" target="_blank">四季通用保暖貓狗寵物床</a></h3>
							<p><strong>材質：</strong><br>拉毛布/舒棉絨/PP棉/無紡布
							</p>
							<p><strong>規格：</strong><br>66x54x16 cm</p>
							<p><strong>重量：</strong><br>0.8kg</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/ZGOWKV" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<p>
								<a href="mall_accessories1">1</a>&ensp;
								<strong><a href="mall_accessories2">2</a>&ensp;</strong>
								<a href ="mall_accessories3">3</a>&ensp;
								<a href="mall_accessories4">4</a>&ensp;
								<br>
							</p>

						</section>
					</div>
				</div>
			</div>
		</section>

	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>