<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>醫院地圖 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="homepage is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="h7">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="pet-f">飲食紀錄</a></li>
							<li><a href="walk">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming">寵物美容</a></li>
							<li><a href="train">寵物訓練</a></li>
							<li><a href="adopt">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="s11">鮮食</a></li>
							<li><a href="s21">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="s31">春夏季</a></li>
									<li><a href="s34">秋冬季</a></li>
									<li><a href="s37">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="s41">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="h2">看診項目</a></li>

						<li><a href="h4">健康檢查</a></li>
						<li><a href="h5">醫院地圖</a></li>
						<li><a href="h6">常見問題</a></li>

					</ul>
				</li>

				</ul>
			</nav>


		</section>

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<div class="title">醫院地圖</div>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-8 col-12-medium">

						<!-- Content -->
						<div id="content">
							<article class="box post">
													
								<iframe frameborder=0 name="iframe" width="700px" height="500px"></iframe>
							</article>
						
						</div>

					</div>
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar">
							<section class="box">
								<header>
									<h2>選擇縣市</h2>
								</header>
								<a href="h51" target="iframe">
									<p\>雙北市</p>
								</a>
								<a href="h52" target="iframe">
									<p\>桃園市</p>
								</a>
								<a href="h53" target="iframe">
									<p\>台中市</p>
								</a>
								<a href="h54" target="iframe">
									<p\>台南市</p>
								</a>
								<a href="h55" target="iframe">
									<p\>高雄市</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/KAA8q9" target="_blank" class="image left"><img src="{% static 'images/dog45.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/KAA8q9" target="_blank" >狗與貓會感染Covid-19嗎 | 希爾思</a></h3>
											<p>冠狀病毒、COVID-19 與您的寵物：您需要知道的事 </p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/3aaKWj" target="_blank" class="image left"><img src="{% static 'images/dog5.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/3aaKWj" target="_blank">舔一口竟致命！與寵物安全互動4原則 | 康健</a></h3>
											<p>近日國外出現4起因為寵物貓狗舔舐而死亡或截肢的新聞... </p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/eEEMlK" class="image left"><img src="{% static 'images/dog6.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/eEEMlK">7種方法 簡單對抗寵物過敏 | 早安健康</a></h3>
											<p>看到路上可愛的貓貓狗狗，總讓人情不自禁想摸摸牠們，但如果對牠們的毛過敏...</p>
										</article>
									</li>
								</ul>

							</section>

						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- Highlights -->
		

	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="pr">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>