<!DOCTYPE HTML>
<html>
	{% load static %}
<head >
	<title>Register DearFurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
</head>

<body class="homepage is-preload" style="background-color: #fffcf5;">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify.html">修改密碼</a></li>
							<li><a href="calendar.html">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="pet-m.html">寵物記帳</a></li>
							<li><a href="pet-f.html">飲食紀錄</a></li>
							<li><a href="pet-w0.html">散步地圖</a></li>
							<li><a href="pet-h.html">寵物住宿</a></li>
							<li><a href="pet-g11.html">寵物美容</a></li>
							<li><a href="pet-t11.html">寵物訓練</a></li>
							<li><a href="pet-a.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="pet-s11.html">鮮食</a></li>
							<li><a href="pet-s21.html">飼料</a></li>
							<li><a href="">衣服</a></li>
							<ul> 
								<li><a href="pet-s31.html">春夏季</a></li>
								<li><a href="pet-s34.html">秋冬季</a></li>
								<li><a href="pet-s37.html">其他</a></li>
							</ul>
						</li>
							<li><a href="pet-s41.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="pet-h1.html">線上諮詢</a></li>
							<li><a href="pet-h2.html">看診項目</a></li>
							<li><a href="pet-h3.html">門診時間</a></li>
							<li><a href="pet-h4.html">健康檢查</a></li>
							<li><a href="pet-h5.html">醫院地圖</a></li>
							<li><a href="pet-h6.html">常見問題</a></li>
							<li><a href="pet-h7.html">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>

		</section>

        <section id="main" class="wrapper style2" style="background-color: #fffcf5";>
			<div class="title" style="background-color: #fffcf5";>寵物記帳</div>
				</section>

	</div>

	<div id="content2" >
		<div id="content">
			<form action="" method="POST">
				{% csrf_token %}
				<article class="box post">
					<header class="style1" >
						<br>
						<span class="text_field" style="font-family:Microsoft JhengHei; font-size:27px;color:black;">時間：</span>
						<label class="price">{{ form.time }}</label>
						<span class="text_field" style="font-family:Microsoft JhengHei; font-size:27px;color:black;">類別：</span>
						<label class="price">{{ form.category }}</label>
						<span class="text_field" style="font-family:Microsoft JhengHei; font-size:27px;color:black;">項目：</span>
						<label class="price">{{ form.item }}</label>
						<span class="text_field" style="font-family:Microsoft JhengHei; font-size:27px;color:black;">金額：</span>
						<label class="price">{{ form.price }}</label>
						<input class="btn btn-success" type="submit" value="儲存"/>
					</header>
				</article>
			</form>
		</div>
	</div>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
		<tr>
			<th style="font-family:Microsoft JhengHei; font-size:27px"><span style="color:black;">時間</span></th>
			<th style="font-family:Microsoft JhengHei; font-size:27px"><span style="color:black;">類別</span></th>
			<th style="font-family:Microsoft JhengHei; font-size:27px"><span style="color:black;">項目</span></th>
			<th style="font-family:Microsoft JhengHei; font-size:27px"><span style="color:black;" class="priceinput">金額</span></th>
		</tr>
		</thead>
		
		<tbody>
		{% for Money in money %}
	
		<tr>
			<td style="font-family:Microsoft JhengHei; font-size:18px"><span style="color:black;">{{ Money.time }}</span></td>
			<td style="font-family:Microsoft JhengHei; font-size:18px"><span style="color:black;">{{ Money.category }}</span></td>
			<td style="font-family:Microsoft JhengHei; font-size:18px"><span style="color:black;">{{ Money.item}}</span></td>
			<td style="font-family:Microsoft JhengHei; font-size:18px"><span style="color:black;">{{ Money.price }}</span></td>
			<td>
				<a href="{% url 'pets:update' Money.id %}" class="btn btn-info" style="font-size:18px">修改</a>
				<a href="{% url 'pets:delete' Money.id %}" class="btn btn-danger" style="font-size:18px">刪除</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
