<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物領養 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="no-sidebar is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="h7">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="pet-f">飲食紀錄</a></li>
							<li><a href="walk">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming">寵物美容</a></li>
							<li><a href="train">寵物訓練</a></li>
							<li><a href="adopt">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="s11">鮮食</a></li>
							<li><a href="s21">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="s31">春夏季</a></li>
									<li><a href="s34">秋冬季</a></li>
									<li><a href="s37">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="s41">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="h2">看診項目</a></li>

						<li><a href="h4">健康檢查</a></li>
						<li><a href="h5">醫院地圖</a></li>
						<li><a href="h6">常見問題</a></li>

					</ul>
				</li>

				</ul>
			</nav>


		</section>
		<section id="main" class="wrapper style2">
			<a href="petgrooming.html">
				<div class="title">寵物領養</div>
			</a>

			<div class="feature-list">
				<div class="row">
			
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/21.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/25<br>
								來源行政區：田尾鄉<br>
								動物性別：公<br>
								毛色：黑黃<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/3a100L" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/22.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/19<br>
								來源行政區：線西鄉<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/mLdVEj" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/23.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/17<br>
								來源行政區：永靖鄉<br>
								動物性別：母<br>
								毛色：黃<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/YOl2yL" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/24.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/07<br>
								來源行政區：芬園鄉<br>
								動物性別：公<br>
								毛色：黃<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/EnK3qk" target="_blank">請點選</a>
							</p>
						</section>
					</div>

					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/25.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：柯基</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：鼓山區<br>
								動物性別：母<br>
								毛色：黃<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/4agZ5K" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/26.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：臘腸</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：苓雅區<br>
								動物性別：母<br>
								毛色：黃<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/NraVr9" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/27.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/21<br>
								來源行政區：鼓山區<br>
								動物性別：公<br>
								毛色：花<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/Lb1R74" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/28.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：拉不拉多</h3>
							<p>入所日期：2021/05/18<br>
								來源行政區：橋頭區<br>
								動物性別：公<br>
								毛色：白<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/kZ5D7L" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/29.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/18<br>
								來源行政區：橋頭區<br>
								動物性別：公<br>
								毛色：黃<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/Dg1GdE" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/30.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/11<br>
								來源行政區：小港區<br>
								動物性別：母<br>
								毛色：花<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/9rz2Gd" target="_blank">請點選</a>
							</p>
						</section>
					</div>



					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/31.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：法國鬥牛</h3>
							<p>入所日期：2021/05/25<br>
								來源行政區：安南區<br>
								動物性別：母<br>
								毛色：白<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>
								描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								更多資訊：<a href="https://reurl.cc/W34l8k" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/32.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/22<br>
								來源行政區：新化區<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>
								描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								更多資訊：<a href="https://reurl.cc/GmkWap" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/33.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/04/20<br>
								來源行政區：龍崎區<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>
								描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								更多資訊：<a href="https://reurl.cc/gWvKNz" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/34.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/03/17<br>
								來源行政區：南區<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>
								描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								更多資訊：<a href="https://reurl.cc/O0b9gv" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/35.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：巴戈</h3>
							<p>入所日期：2021/03/12<br>
								來源行政區：東區<br>
								動物性別：公<br>
								毛色：棕<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/ZGnpg3" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/36.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/02/24<br>
								來源行政區：南區<br>
								動物性別：公<br>
								毛色：黑白<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/2r4pAr" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/37.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/01/29<br>
								來源行政區：歸仁區<br>
								動物性別：母<br>
								毛色：米<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/MA7qmL" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/38.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/01/20<br>
								來源行政區：安南區<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/qgDQjq" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/39.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：法國鬥牛</h3>
							<p>入所日期：2020/12/15<br>
								來源行政區：七股區<br>
								動物性別：公<br>
								毛色：米<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/lRLGr9" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/41.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2020/12/17<br>
								來源行政區：南區<br>
								動物性別：母<br>
								毛色：黑黃<br>
								動物名：阿Q<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/EnKEl0" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					
				</div>
			</div>
		
			<ul class="actions special">
				<section class="highlight">
					<p>
						<a href ="adopt">1</a>&ensp;
						<strong><a href ="adopt1">2</a>&ensp;</strong>
						<a href ="adopt2">3</a>&ensp;
						<a href ="adopt3">4</a>&ensp;
						<a href="adopt4">5</a>&ensp;
						<a href="adopt5">6</a>&ensp;
						<a href="adopt6">7</a>&ensp;
					<br></p>
				</section>
				<p><strong><a href="#top">
							TOP
						</a></strong></p>
				<li><a href="https://reurl.cc/4agZ5K" class="button style2 large" target="_blank">查看更多</a></li>
			</ul>
		</section>
	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="pr">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>