<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物美容 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="left-sidebar is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify.html">修改密碼</a></li>
							<li><a href="calendar.html">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="pet-m.html">寵物記帳</a></li>
							<li><a href="pet-f.html">飲食紀錄</a></li>
							<li><a href="pet-w0.html">散步地圖</a></li>
							<li><a href="pet-h.html">寵物住宿</a></li>
							<li><a href="pet-g11.html">寵物美容</a></li>
							<li><a href="pet-t11.html">寵物訓練</a></li>
							<li><a href="pet-a.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="pet-s11.html">鮮食</a></li>
							<li><a href="pet-s21.html">飼料</a></li>
							<li><a href="">衣服</a></li>
							<ul> 
								<li><a href="pet-s31.html">春夏季</a></li>
								<li><a href="pet-s34.html">秋冬季</a></li>
								<li><a href="pet-s37.html">其他</a></li>
							</ul>
						</li>
							<li><a href="pet-s41.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="pet-h1.html">線上諮詢</a></li>
							<li><a href="pet-h2.html">看診項目</a></li>
							<li><a href="pet-h3.html">門診時間</a></li>
							<li><a href="pet-h4.html">健康檢查</a></li>
							<li><a href="pet-h5.html">醫院地圖</a></li>
							<li><a href="pet-h6.html">常見問題</a></li>
							<li><a href="pet-h7.html">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>

		</section>

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<a href="pet-g11.html">
				<div class="title">寵物美容</div>
			</a>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar">
							<section class="box">
								<header>
									<a name="回上面" id="回上面">
										<h2>目錄</h2>
									</a>

								</header>
								<a href="pet-g11.html">
									<p\>寵物美容首頁</p>
								</a>
								<a href="pet-g12.html">
									<p\>尋找美容院</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>快速尋找</h2>
								</header>
								<a href="#雙北市">
									<p>雙北市</p>
								</a>
								<a href="#桃園市">
									<p>桃園市</p>
								</a>
								<a href="#台中市">
									<p>台中市</p>
								</a>
								<a href="#台南市">
									<p>台南市</p>
								</a>
								<a href="#高雄市">
									<p>高雄市</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/2bdOlX" target="_blank" class="image left"><img
													src="images/dog8.jpg" alt="" /></a>
											<h3><a href="https://reurl.cc/2bdOlX"
													target="_blank">如何選擇寵物美容店？｜寵物美容老師—林文琳｜PetTalk說寵物</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/R6ZoQn" target="_blank" class="image left"><img
													src="images/dog9.jpg" alt="" /></a>
											<h3><a href="https://reurl.cc/R6ZoQn"
													target="_blank">DIY剃毛省1千4！約克夏慘變「發胖吉娃娃」尬笑：吉救無效
													｜ETtoday</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/KxaovR" target="_blank" class="image left"><img
													src="images/dog10.jpg" alt="" /></a>
											<h3><a href="https://reurl.cc/KxaovR"
													target="_blank">超狂嬤閒著隨手剃！2狗成「光滑糯米腸」　媽驚：被耽誤的美容師 | ETtoday</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/g8qopV" target="_blank" class="image left"><img
													src="images/dog11.jpg" alt="" /></a>
											<h3><a href="https://reurl.cc/g8qopV"
													target="_blank">「我考寵物美容師證花了三年，辭職只用了三分鐘」｜每日頭條</a>
											</h3>

										</article>
									</li>

								</ul>

							</section>

						</div>

					</div>
					<div class="col-8 col-12-medium imp-medium">

						<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									<h2>以下都是在Google評論4.0以上的好評美容院</h2>
									<br>
									<p><strong><a name="雙北市" id="雙北市"></a>雙北市</strong></p>
									<p><strong>佳佳寵物用品店暨寵物美容 4.6★</strong></p>
									<p>地址：新北市土城區中央路一段53號</p>
									<p>電話：(02)2270-5026</p>
									<br>
									<p><strong>茹啦啦寵物美容歐式護理spa 4.9★</strong></p>
									<p>地址：新北市板橋區廣和街35號</p>
									<p>電話：(02)2956-0189</p>
									<br>
									<p><strong>DOMO PET HOUSE 5.0★</strong></p>
									<p>地址：新北市板橋區永豐街51號</p>
									<p>電話：(02)8953-8181</p>
									<br>
									<p><strong>Luby Pet Spa 路比寵物美容 4.7★</strong></p>
									<p>地址：台北市信義區仁愛路四段468號</p>
									<p>電話：(02)2720-1777</p>
									<br>
									<p><strong>毛日子寵物美容精品 5.0★</strong></p>
									<p>地址：台北市中山區遼寧街45巷36號</p>
									<p>電話：(02)2778-3139</p>
									<br>
									<p><strong>CHIEN BON BON 寵物洗澎澎 4.6★</strong></p>
									<p>地址：台北市松山區健康路260號</p>
									<p>電話：(02)2760-7766</p>
									<br>
									<p><strong><a href="#top">
												TOP
											</a></strong></p><br><br>

									<p><strong><a name="桃園市" id="桃園市"></a>桃園市</strong></p>
									<p><strong>布居寵物生活別館 4.6★</strong></p>
									<p>地址：桃園市桃園區同安街576號</p>
									<p>電話：0988-363-908</p>
									<br>
									<p><strong>So Sweet 真貼心寵物美容旅館 4.5★</strong></p>
									<p>地址：桃園市中壢區延平路352號</p>
									<p>電話：(03)427-0580</p>
									<br>
									<p><strong>寵物反斗城 4.4★</strong></p>
									<p>地址：桃園市桃園區大林路20-1號</p>
									<p>電話：(03)367-3006</p>
									<br>
									<p><strong>晨曦寵物 4.0★</strong></p>
									<p>地址：桃園市桃園區龍安街109號</p>
									<p>電話：(03)360-9911</p>
									<br>
									<p><strong>中圓寵物家族 4.3★</strong></p>
									<p>地址：桃園市八德區介壽路二段1072號</p>
									<p>電話：(03)365-6008</p>
									<br>
									<p><strong>哈比寵物美容 4.9★</strong></p>
									<p>地址：桃園市桃園區大業路一段32號</p>
									<p>電話：(03)333-9896</p>

									<br>
									<p><strong><a href="#top">
												TOP
											</a></strong></p><br><br>
									<p><strong><a name="台中市" id="台中市"></a>台中市</strong></p>
									<p><strong>寵物美容wongwonghouse 4.8★</strong></p>
									<p>地址：台中市北區原子街161號</p>
									<p>電話：0906-020-888</p>
									<br>
									<p><strong>愛美狗 4.0★</strong></p>
									<p>地址：台中市西屯區漢口路一段22號</p>
									<p>電話：(04)2314-9230</p>
									<br>
									<p><strong>狗然自得Go Relax 4.8★</strong></p>
									<p>地址：台中市南屯區文心南六路19號2樓</p>
									<p>電話：(04)2475-9429</p>
									<br>
									<p><strong>寵愛新貴寵物生活館 4.6★</strong></p>
									<p>地址：台中市南區大慶街二段6之16巷78號</p>
									<p>電話：(04)2265-3537</p>
									<br>
									<p><strong>瑋特貓狗SPA生活館 4.7★</strong></p>
									<p>地址：台中市南屯區大墩十一街648號</p>
									<p>電話：(04)2320-8339</p>
									<br>
									<p><strong>萬達寵物 WonderPet 4.7★</strong></p>
									<p>地址：台中市南屯區公益路二段169號</p>
									<p>電話：(04)2325-0800</p>
									<br>
									<p><strong><a href="#top">
												TOP
											</a></strong></p><br><br>
									<p><strong><a name="台南市" id="台南市"></a>台南市</strong></p>
									<p><strong>MUMAO 牧貓精品寵物旅館 4.6★</strong></p>
									<p>地址：台南市東區裕農路375號B1</p>
									<p>電話：(06)208-5491</p>
									<br>
									<p><strong>蕎逸寵物店 4.8★</strong></p>
									<p>地址：台南市南區明興路53號</p>
									<p>電話：(06)262-8866</p>
									<br>
									<p><strong>犬貓部屋寵物沙龍 5.0★</strong></p>
									<p>地址：台南市永康區永大路二段128-5號</p>
									<p>電話：0955-513-271</p>
									<br>
									<p><strong>啾咪Jumi寵物美容/毛小孩旅館 4.7★</strong></p>
									<p>地址：台南市東區前鋒路52號</p>
									<p>電話：0936-573-866</p>
									<br>
									<p><strong>謎果王子寵物美容工坊 5.0★</strong></p>
									<p>地址：台南市北區公園北路80號</p>
									<p>電話：(06)251-4896</p>
									<br>
									<p><strong>快樂歐昔比寵物生活概念館 4.9★</strong></p>
									<p>地址：台南市新市區民族路113號</p>
									<p>電話：(06)589-9976</p>

									<br>
									<p><strong><a href="#top">
												TOP
											</a></strong></p><br><br>
									<p><strong><a name="高雄市" id="高雄市"></a>高雄市</strong></p>
									<p><strong>嬌滴滴寵物 4.4★</strong></p>
									<p>地址：高雄市前鎮區一心二路42號</p>
									<p>電話：(07)333-1239</p>
									<br>
									<p><strong>王子與公主寵物美容 5.0★</strong></p>
									<p>地址：高雄市左營區西陵街94號</p>
									<p>電話：(07)588-6986</p>
									<br>
									<p><strong>Q瑪寵物沙龍 4.8★</strong></p>
									<p>地址：高雄市三民區九如一路980號</p>
									<p>電話：(07)389-2925</p>
									<br>
									<p><strong>初心寵物美容沙龍 4.6★</strong></p>
									<p>地址：高雄市左營區重信路391號</p>
									<p>電話：(07)350-3355</p>
									<br>
									<p><strong>大社犬貓美容 4.9★</strong></p>
									<p>地址：高雄市大社區中山路42號</p>
									<p>電話：(07)358-1819</p>
									<br>
									<p><strong>88寵物沙龍SPA 4.7★</strong></p>
									<p>地址：高雄市三民區大慶街88號</p>
									<p>電話：(07)392-8100</p>
									<br>
									<p><strong><a href="#top">
												TOP
											</a></strong></p>
								</header>

							</article>

						</div>

					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>