<!DOCTYPE HTML>
<html>
	{% load static %}
<head>
	<title>寵物商城 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="calendar">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="pet-f">飲食紀錄</a></li>
							<li><a href="walk">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming">寵物美容</a></li>
							<li><a href="train">寵物訓練</a></li>
							<li><a href="adopt">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="s11">鮮食</a></li>
							<li><a href="s21">飼料</a></li>
							<li><a href="">衣服</a></li>
							<ul>
								<li><a href="s31">春夏季</a></li>
								<li><a href="s34">秋冬季</a></li>
								<li><a href="s37">其他</a></li>
							</ul>
					</li>
					<li><a href="s41">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>
						<li><a href="line">線上諮詢</a></li>
						<li><a href="h2">看診項目</a></li>
						<li><a href="h3">門診時間</a></li>
						<li><a href="h4">健康檢查</a></li>
						<li><a href="h5">醫院地圖</a></li>
						<li><a href="h6">常見問題</a></li>
						<li><a href="h7">關於我們</a></li>
					</ul>
				</li>

				</ul>
			</nav>

		</section>



		<section id="highlights" class="wrapper style3">
			<div class="title">衣服</div>
			<div class="container">
                <div class="row aln-center">
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/eEM4NW" class="image featured" target="_blank"><img
									src="{% static 'images1/80.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/eEM4NW" target="_blank">寵物大狗小狗透氣防水雨衣</a></h3>
							<p><strong>材質：</strong><br>S/M/L/XL/2XL </p>
							<p><strong>尺寸：</strong><br>防水面料</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/eEM4NW" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/4aLnqX" class="image featured" target="_blank"><img
									src="{% static 'images1/93.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/4aLnqX" target="_blank">寵物狗救生衣</a></h3>
							<p><strong>材質：</strong><br>2XS/XS/S/M/L/XL/2XL</p>
							<p><strong>尺寸：</strong><br>尼龍</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/4aLnqX" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/O0YngA" class="image featured" target="_blank"><img
									src="{% static 'images1/94.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/O0YngA" target="_blank">狗狗玩水必備 寵物泳衣</a></h3>
							<p><strong>材質：</strong><br>2XS/XS/S/M/L/XL/2XL</p>
							<p><strong>尺寸：</strong><br>尼龍</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/O0YngA" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/R0YgY6" class="image featured" target="_blank"><img
									src="{% static 'images1/88.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/R0YgY6" target="_blank">狗狗充氣式 氣囊浮水衣</a></h3>
							<p><strong>材質：</strong><br>S/M/L</p>
							<p><strong>尺寸：</strong><br>加厚PVC充氣氣囊</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/R0YgY6" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/R0YgRg" class="image featured" target="_blank"><img
									src="{% static 'images1/95.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/R0YgRg" target="_blank">狗狗防嗆水浮力衣 寵物泳衣</a></h3>
							<p><strong>材質：</strong><br>XS/S/M/L/XL</p>
							<p><strong>尺寸：</strong><br>加厚尼龍布+浮力珍珠棉</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/R0YgRg" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
                    <div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/83DAdR" class="image featured" target="_blank"><img
									src="{% static 'images1/96.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/83DAdR" target="_blank">寵物救生衣 鯊魚美人魚游泳衣</a></h3>
							<p><strong>材質：</strong><br>XS/S/M/L/XL</p>
							<p><strong>尺寸：</strong><br>尼龍</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/83DAdR" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<p>
									<a href="s31">1</a>&ensp;
                                    <a href ="s32">2</a>&ensp;
                                    <a href ="s33">3</a>&ensp;
                                   <a href ="s34">4</a>&ensp;
                                   <a href ="s35">5</a>&ensp;
                                   <a href ="s36">6</a>&ensp;
                                   <a href ="s37">7</a>&ensp;
                                   <strong><a href ="s38">8</a>&ensp;</strong>
                                   

								<br>
							</p>

						</section>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>