<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物領養 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="no-sidebar is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify.html">修改密碼</a></li>
							<li><a href="calendar.html">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="pet-m.html">寵物記帳</a></li>
							<li><a href="pet-f.html">飲食紀錄</a></li>
							<li><a href="pet-w0.html">散步地圖</a></li>
							<li><a href="pet-h.html">寵物住宿</a></li>
							<li><a href="pet-g11.html">寵物美容</a></li>
							<li><a href="pet-t11.html">寵物訓練</a></li>
							<li><a href="pet-a.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="pet-s11.html">鮮食</a></li>
							<li><a href="pet-s21.html">飼料</a></li>
							<li><a href="">衣服</a></li>
							<ul> 
								<li><a href="pet-s31.html">春夏季</a></li>
								<li><a href="pet-s34.html">秋冬季</a></li>
								<li><a href="pet-s37.html">其他</a></li>
							</ul>
						</li>
							<li><a href="pet-s41.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="pet-h1.html">線上諮詢</a></li>
							<li><a href="pet-h2.html">看診項目</a></li>
							<li><a href="pet-h3.html">門診時間</a></li>
							<li><a href="pet-h4.html">健康檢查</a></li>
							<li><a href="pet-h5.html">醫院地圖</a></li>
							<li><a href="pet-h6.html">常見問題</a></li>
							<li><a href="pet-h7.html">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>

		</section>
		<section id="main" class="wrapper style2">
			<a href="petgrooming.html">
				<div class="title">寵物領養</div>
			</a>


			<div class="feature-list">
				<div class="row">
					
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/61.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/24<br>
								來源行政區：竹北市<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：右眼疑似白內障<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=211199&AcceptNum=DAAAG1100624002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/62.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/21<br>
								來源行政區：新豐鄉<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=210752&AcceptNum=DAAAG1100621002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/63.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/18<br>
								來源行政區：關西鎮<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=210594&AcceptNum=DAAAG1100618002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/64.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/18<br>
								來源行政區：竹北市<br>
								動物性別：母<br>
								毛色：虎斑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=210602&AcceptNum=DAAAG1100618004&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/65.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：柯基</h3>
							<p>入所日期：2021/06/15<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：花<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：共濟失調，惟涉及動保案件尚在處理中，暫未開放民眾認養(開放日期未定)，待全案處理完成，若後續有沒入及開放民眾認養流程，相關資訊將即時於本網站進行更新<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/66.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/09<br>
								來源行政區：新埔鎮<br>
								動物性別：母<br>
								毛色：黑黃<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209606&AcceptNum=DAAAG1100609007&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/67.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/11<br>
								來源行政區：新埔鎮<br>
								動物性別：公<br>
								毛色：花<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209917&AcceptNum=DAAAG1100611001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/68.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/09<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：皮膚病<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209604&AcceptNum=DAAAG1100609005&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/69.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/07<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：右眼受傷<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209133&AcceptNum=DAAAG1100607003&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/69.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/07<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：右眼受傷<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209133&AcceptNum=DAAAG1100607003&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/70.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：博美</h3>
							<p>入所日期：2021/06/07<br>
								來源行政區：竹東鎮<br>
								動物性別：公<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：皮膚病<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/71.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/04<br>
								來源行政區：新豐鄉<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：已剪耳,鼠蹊皮膚撕裂傷,骨盆骨折<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208957&AcceptNum=DAAAG1100604001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/72.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/02<br>
								來源行政區：新埔鎮<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208740&AcceptNum=DAAAG1100602001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/73.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/01<br>
								來源行政區：關西鎮<br>
								動物性別：公<br>
								毛色：虎斑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208629&AcceptNum=DAAAG1100601002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/74.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：新豐鄉<br>
								動物性別：母<br>
								毛色：黑白<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208124&AcceptNum=DAAAG1100526006&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/75.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：橫山鄉<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208072&AcceptNum=DAAAG1100526001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/76.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：柴犬</h3>
							<p>入所日期：2021/05/07<br>
								來源行政區：竹北市<br>
								動物性別：公<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：畜主口述會咬人,建議有犬隻飼養經驗者再行領養,約6歲,預定於110年5月12日(三)早上九點開放認養(若認養民眾多採抽籤方式)，須年滿20歲，若家中有飼養其他動物請提供有效期限(最近一年內)的狂犬病注射證明。線上填寫認養名單僅供資料審核，不代表認養優先權。<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=205701&AcceptNum=DAAAG1100507005&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/77.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/05<br>
								來源行政區：湖口鄉<br>
								動物性別：母<br>
								毛色：白<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=205258&AcceptNum=DAAAG1100505002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/78.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/04/30<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=204750&AcceptNum=DAAAG1100430008&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/79.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/04/21<br>
								來源行政區：竹北市<br>
								動物性別：公<br>
								毛色：白<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：剪耳<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=203478&AcceptNum=DAAAG1100421001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/80.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/04/21<br>
								來源行政區：竹北市<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/WVvfZMqtHBnPQFjQ9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=203481&AcceptNum=DAAAG1100421004&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					
				</div>
			</div>
		
			<ul class="actions special">
				<section class="highlight">
					<p>
						<a href ="pet-a.html">1</a>&ensp;
						<a href ="pet-a1.html">2</a>&ensp;
						<a href ="pet-a2.html">3</a>&ensp;
						<strong><a href ="pet-a3.html">4</a>&ensp;</strong>
						<a href="pet-a4.html">5</a>&ensp;
						<a href="pet-a5.html">6</a>&ensp;
						<a href="pet-a6.html">7</a>&ensp;
					<br></p>
				</section>
				<p><strong><a href="#top">
							TOP
						</a></strong></p>
				<li><a href="https://reurl.cc/4agZ5K" class="button style2 large" target="_blank">查看更多</a></li>
			</ul>
		</section>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>