<!DOCTYPE HTML>
<html>
	{% load static %}
<head>
	<title>寵物商城 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="homepage is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="aboutus">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="walk_pet">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming_pet">寵物美容</a></li>
							<li><a href="train_pet">寵物訓練</a></li>
							<li><a href="adopt_pet1">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物商城</a>
						<ul>
							<li><a href="mall_freshfood1">鮮食</a></li>
							<li><a href="mall_feed1">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="mall_clothing1">春夏季</a></li>
									<li><a href="mall_clothing4">秋冬季</a></li>
									<li><a href="mall_clothing7">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="mall_accessories1">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="Hospital_visits">看診項目</a></li>
						<li><a href="Hospital_healthcheck">健康檢查</a></li>
						<li><a href="Hospital_map">醫院地圖</a></li>
						<li><a href="funeral_pet">寵物葬儀</a></li>
						<li><a href="Hospital_commonproblem">常見問題</a></li>
						

					</ul>
				</li>

				</ul>
			</nav>

		</section>



		<section id="highlights" class="wrapper style3">
			<div class="title">衣服</div>
			<div class="container">
				<div class="row aln-center">
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/mLnZ2Y" class="image featured" target="_blank"><img
									src="{% static 'images1/78.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/mLnZ2Y" target="_blank">寵物狗狗衝鋒衣保暖衣(加絨加厚衝鋒衣)</a></h3>
							<p><strong>材質：</strong><br>絨毛</p>
							<p><strong>尺寸：</strong><br>L/XL/2XL</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/mLnZ2Y" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/kZdqWK" class="image featured" target="_blank"><img
									src="{% static 'images1/63.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/kZdqWK" target="_blank">秋冬四腳薄款衣服 小型犬卡通寵物衣服</a></h3>
							<p><strong>材質：</strong><br>棉毛格子布＋牛仔</p>
							<p><strong>尺寸：</strong><br>S/M/L/XL/XXL</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/kZdqWK" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>


					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/kVGXkL" class="image featured" target="_blank"><img
									src="{% static 'images1/31.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/kVGXkL" target="_blank">寵物麋鹿聖誕裝</a></h3>
							<p><strong>材質：</strong><br>XS/S/M/L/XL </p>
							<p><strong>尺寸：</strong><br>絨毛、聚酯纖維</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/kVGXkL" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/xgz7A4" class="image featured" target="_blank"><img
									src="{% static 'images1/33.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/xgz7A4" target="_blank">秋冬英倫風狗毛衣 大型犬</a></h3>
							<p><strong>材質：</strong><br>8/10/12/14/16/20/24/28吋 </p>
							<p><strong>尺寸：</strong><br>聚酯纖維</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/xgz7A4" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/GdMAq3" class="image featured" target="_blank"><img
									src="{% static 'images1/34.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/GdMAq3" target="_blank">加厚唐裝泰迪四腳衣變身裝</a></h3>
							<p><strong>材質：</strong><br>XS/S/M/L/XL/2XL </p>
							<p><strong>尺寸：</strong><br>北極絨、舒棉絨</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/GdMAq3" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/L09Azx" class="image featured" target="_blank"><img
									src="{% static 'images1/35.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/L09Azx" target="_blank">卡通變身裝寵物冬裝 小型犬</a></h3>
							<p><strong>材質：</strong><br>XS/S/M/L/XL </p>
							<p><strong>尺寸：</strong><br>羊羔絨</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/L09Azx" class="button style1" target="_blank">比價去</a></li>
							</ul>
						</section>
					</div>
						
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<p>
								<a href="mall_clothing1">1</a>&ensp;
								<a href ="mall_clothing2">2</a>&ensp;
								<a href ="mall_clothing3">3</a>&ensp;
							   <strong><a href ="mall_clothing4">4</a>&ensp;</strong>
							   <a href ="mall_clothing5">5</a>&ensp;
							   <a href ="mall_clothing6">6</a>&ensp;
							   <a href ="mall_clothing7">7</a>&ensp;
							   <a href ="mall_clothing8">8</a>&ensp;
							   
								<br>
							</p>

						</section>
					</div>
				</div>
			</div>
		</section>

	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>