<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物領養 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="no-sidebar is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="calendar">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="pet-f">飲食紀錄</a></li>
							<li><a href="walk">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming">寵物美容</a></li>
							<li><a href="train">寵物訓練</a></li>
							<li><a href="adopt">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="s11">鮮食</a></li>
							<li><a href="s21">飼料</a></li>
							<li><a href="">衣服</a></li>
							<ul>
								<li><a href="s31">春夏季</a></li>
								<li><a href="s34">秋冬季</a></li>
								<li><a href="s37">其他</a></li>
							</ul>
					</li>
					<li><a href="s41">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>
						<li><a href="line">線上諮詢</a></li>
						<li><a href="h2">看診項目</a></li>
						<li><a href="h3">門診時間</a></li>
						<li><a href="h4">健康檢查</a></li>
						<li><a href="h5">醫院地圖</a></li>
						<li><a href="h6">常見問題</a></li>
						<li><a href="h7">關於我們</a></li>
					</ul>
				</li>

				</ul>
			</nav>

		</section>
		<section id="main" class="wrapper style2">
			<a href="petgrooming.html">
				<div class="title">寵物領養</div>
			</a>


			<div class="feature-list">
				<div class="row">
					
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/102.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：甲仙區<br>
								動物性別：母<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213732&AcceptNum=LAABG110012006&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/103.jpg ' %} "alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：內門區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213737&AcceptNum=LAABG110041401&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/104.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：岡山區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213830&AcceptNum=LAABG110071302&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/105.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：燕巢區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213837&AcceptNum=LAABG110071307&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/106.jpg ' %} "alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：燕巢區<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213833&AcceptNum=LAABG110071304&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/107.jpg ' %} "alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：燕巢區<br>
								動物性別：母<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213827&AcceptNum=LAABG110071305&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/108.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：阿蓮區<br>
								動物性別：母<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213638&AcceptNum=LAABG110071204&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/109.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：路竹區<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213831&AcceptNum=LAABG110071303&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/110.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：旗山區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213734&AcceptNum=LAABG110032210&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/111.jpg ' %} "alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/14<br>
								來源行政區：永安區<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213983&AcceptNum=LAABG110071411&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/112.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/14<br>
								來源行政區：阿蓮區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213984&AcceptNum=LAABG110071412&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/113.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/15<br>
								來源行政區：阿蓮區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=214552&AcceptNum=LAABG110071504&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/114.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/15<br>
								來源行政區：阿蓮區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=214550&AcceptNum=LAABG110071503&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/115.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/16<br>
								來源行政區：阿蓮區<br>
								動物性別：母<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=214286&AcceptNum=LAABG110071609&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/116.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/19<br>
								來源行政區：燕巢區<br>
								動物性別：母<br>
								毛色：虎斑<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=214556&AcceptNum=LAABG110071907&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/117.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/20<br>
								來源行政區：燕巢區<br>
								動物性別：公<br>
								毛色：灰<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=214695&AcceptNum=LAABG110072001&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/118.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/21<br>
								來源行政區：彌陀區<br>
								動物性別：母<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=215065&AcceptNum=LAABG110072118&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/119.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/21<br>
								來源行政區：湖內區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=215064&AcceptNum=LAABG110072201&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/120.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/23<br>
								來源行政區：內門區<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=215189&AcceptNum=LAABG110072305&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/121.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/23<br>
								來源行政區：茄萣區<br>
								動物性別：母<br>
								毛色：白<br>
								動物名：無<br>
								公告收容所：高雄市燕巢動物保護關愛園區<br>
								收容所電話：07-6051002<br>
								收容所地址：高雄市燕巢區師大路98號<a href="https://goo.gl/maps/3vHbvyg9EWBFFp1s6"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=215192&AcceptNum=LAABG110072307&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
				</div>
			</div>
		
			<ul class="actions special">
				<section class="highlight">
					<p>
						<a href ="adopt">1</a>&ensp;
						<a href ="adopt1">2</a>&ensp;
						<a href ="adopt2">3</a>&ensp;
						<a href ="adopt3">4</a>&ensp;
						<a href ="adopt4">5</a>&ensp;
						<strong><a href ="adopt5">6</a>&ensp;</strong>
						<a href ="adopt6">7</a>&ensp;
					<br></p>
				</section>
				<p><strong><a href="#top">
							TOP
						</a></strong></p>
				<li><a href="https://reurl.cc/4agZ5K" class="button style2 large" target="_blank">查看更多</a></li>
			</ul>
		</section>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>