<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物領養 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="no-sidebar is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify.html">修改密碼</a></li>
							<li><a href="calendar.html">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="pet-m.html">寵物記帳</a></li>
							<li><a href="pet-f.html">飲食紀錄</a></li>
							<li><a href="pet-w0.html">散步地圖</a></li>
							<li><a href="pet-h.html">寵物住宿</a></li>
							<li><a href="pet-g11.html">寵物美容</a></li>
							<li><a href="pet-t11.html">寵物訓練</a></li>
							<li><a href="pet-a.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="pet-s11.html">鮮食</a></li>
							<li><a href="pet-s21.html">飼料</a></li>
							<li><a href="">衣服</a></li>
							<ul> 
								<li><a href="pet-s31.html">春夏季</a></li>
								<li><a href="pet-s34.html">秋冬季</a></li>
								<li><a href="pet-s37.html">其他</a></li>
							</ul>
						</li>
							<li><a href="pet-s41.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="pet-h1.html">線上諮詢</a></li>
							<li><a href="pet-h2.html">看診項目</a></li>
							<li><a href="pet-h3.html">門診時間</a></li>
							<li><a href="pet-h4.html">健康檢查</a></li>
							<li><a href="pet-h5.html">醫院地圖</a></li>
							<li><a href="pet-h6.html">常見問題</a></li>
							<li><a href="pet-h7.html">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>

		</section>
		<section id="main" class="wrapper style2">
			<a href="petgrooming.html">
				<div class="title">寵物領養</div>
			</a>


			<div class="feature-list">
				<div class="row">
					
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/82.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/17<br>
								來源行政區：板橋區<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=210397&AcceptNum=AAADG2021061703&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/83.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/22<br>
								來源行政區：三峽區<br>
								動物性別：母<br>
								毛色：虎斑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=210991&AcceptNum=AAADG2021062205&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/84.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/24<br>
								來源行政區：三峽區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=211256&AcceptNum=AAADG2021062407&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/85.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/24<br>
								來源行政區：三峽區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=211254&AcceptNum=AAADG2021062406&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/86.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/24<br>
								來源行政區：三峽區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=211252&AcceptNum=AAADG2021062404&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/87.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/25<br>
								來源行政區：樹林區<br>
								動物性別：母<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=211460&AcceptNum=AAADG2021062501&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/88.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/28<br>
								來源行政區：三峽區<br>
								動物性別：公<br>
								毛色：灰白<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=211687&AcceptNum=AAADG2021062802&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/89.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/29<br>
								來源行政區：三峽區<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：請聯繫收容所
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/90.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/29<br>
								來源行政區：三峽區<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：請聯繫收容所
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/91.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/30<br>
								來源行政區：三峽區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=212213&AcceptNum=AAADG2021063006&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/92.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/30<br>
								來源行政區：樹林區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=212199&AcceptNum=AAADG2021063005%20&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/93.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/03<br>
								來源行政區：板橋區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=212567&AcceptNum=AAADG2021070302&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/94.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/05<br>
								來源行政區：三峽區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：下巴有腫瘤<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=212665&AcceptNum=AAADG2021070505&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/95.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：秋田犬</h3>
							<p>入所日期：2021/07/06<br>
								來源行政區：三峽區<br>
								動物性別：公<br>
								毛色：黃白<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：不親人、不親狗、護食<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=212752&AcceptNum=AAADG2021070601&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/96.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/13<br>
								來源行政區：三峽區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213642&AcceptNum=AAADG2021071301&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/97.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/14<br>
								來源行政區：板橋區<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=213918&AcceptNum=AAADG2021071401&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/98.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/16<br>
								來源行政區：板橋區<br>
								動物性別：母<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=214202&AcceptNum=AAADG2021071601&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/99.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/20<br>
								來源行政區：板橋區<br>
								動物性別：公<br>
								毛色：虎斑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=214623&AcceptNum=AAADG2021072002&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/100.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/22<br>
								來源行政區：板橋區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=215042&AcceptNum=AAADG2021072202&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/101.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/22<br>
								來源行政區：板橋區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號<a href="https://goo.gl/maps/pHw11iTHkLkcw65X9"
									target="_blank">→地圖</a><br>描述：無<br>
									我想領養：<a href="https://asms.coa.gov.tw/AmlApp/App/AnnounceList.aspx?Id=215018&AcceptNum=AAADG2021072201&PageType=Adopt" target="_blank">請點選</a>
								</p>
						</section>
					</div>
					
				</div>
			</div>
		
			<ul class="actions special">
				<section class="highlight">
					<p>
						<a href ="pet-a.html">1</a>&ensp;
						<a href ="pet-a1.html">2</a>&ensp;
						<a href ="pet-a2.html">3</a>&ensp;
						<a href ="pet-a3.html">4</a>&ensp;
						<strong><a href ="pet-a4.html">5</a>&ensp;</strong>
						<a href ="pet-a5.html">6</a>&ensp;
						<a href ="pet-a6.html">7</a>&ensp;
					<br></p>
				</section>
				<p><strong><a href="#top">
							TOP
						</a></strong></p>
				<li><a href="https://reurl.cc/4agZ5K" class="button style2 large" target="_blank">查看更多</a></li>
			</ul>
		</section>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>