<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物領養 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="no-sidebar is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="calendar">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="pet-f">飲食紀錄</a></li>
							<li><a href="walk">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming">寵物美容</a></li>
							<li><a href="train">寵物訓練</a></li>
							<li><a href="adopt">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="s11">鮮食</a></li>
							<li><a href="s21">飼料</a></li>
							<li><a href="">衣服</a></li>
							<ul>
								<li><a href="s31">春夏季</a></li>
								<li><a href="s34">秋冬季</a></li>
								<li><a href="s37">其他</a></li>
							</ul>
					</li>
					<li><a href="s41">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>
						<li><a href="line">線上諮詢</a></li>
						<li><a href="h2">看診項目</a></li>
						<li><a href="h3">門診時間</a></li>
						<li><a href="h4">健康檢查</a></li>
						<li><a href="h5">醫院地圖</a></li>
						<li><a href="h6">常見問題</a></li>
						<li><a href="h7">關於我們</a></li>
					</ul>
				</li>

				</ul>
			</nav>

		</section>
		<section id="main" class="wrapper style2">
			<a href="petgrooming.html">
				<div class="title">寵物領養</div>
			</a>


			<div class="feature-list">
				<div class="row">
					
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/41.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/07/05<br>
								來源行政區：仁愛區<br>
								動物性別：公<br>
								毛色：黑棕<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/42.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：貴賓</h3>
							<p>入所日期：2021/06/25<br>
								來源行政區：仁愛區<br>
								動物性別：母<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=211538&AcceptNum=QAAAG1100625004&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/43.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/23<br>
								來源行政區：中正區<br>
								動物性別：母<br>
								毛色：棕黑<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=211180&AcceptNum=QAAAG1100623002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/44.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/09<br>
								來源行政區：中山區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=209467&AcceptNum=QAAAG1100609003&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/45.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：信義區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：受困水溝<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=208100&AcceptNum=QAAAG1100526006&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/46.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：貴賓</h3>
							<p>入所日期：2021/04/28<br>
								來源行政區：中正區<br>
								動物性別：公<br>
								毛色：咖啡<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/47.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：狼犬</h3>
							<p>入所日期：2021/03/09<br>
								來源行政區：中山區<br>
								動物性別：母<br>
								毛色：黑棕<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=197681&AcceptNum=QAAAG1100309003&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/48.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/02/08<br>
								來源行政區：仁愛區<br>
								動物性別：公<br>
								毛色：黃<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/49.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2020/12/14<br>
								來源行政區：七堵區<br>
								動物性別：公<br>
								毛色：棕<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/51.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2020/10/30<br>
								來源行政區：仁愛區<br>
								動物性別：公<br>
								毛色：白<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=182557&AcceptNum=QAAAG1091030002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/52.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2020/07/10<br>
								來源行政區：中正區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=167622&AcceptNum=QAAAG1090710004&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/53.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2020/06/30<br>
								來源行政區：安樂區<br>
								動物性別：公<br>
								毛色：虎斑<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/54.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2020/05/16<br>
								來源行政區：安樂區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/55.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2020/04/10<br>
								來源行政區：信義區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="" target="_blank">請聯繫收容所</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/57.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：彼特</h3>
							<p>入所日期：2018/04/23<br>
								來源行政區：七堵區<br>
								動物性別：母<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=46054&AcceptNum=QAAAG1070423002&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/58.jpg ' %} " alt="" style="height: 200px ;">
							<h3>品種：彼特</h3>
							<p>入所日期：2016/11/22<br>
								來源行政區：安樂區<br>
								動物性別：公<br>
								毛色：黑<br>
								動物名：無<br>
								公告收容所：基隆市寵物銀行<br>
								收容所電話：02-24560148<br>
								收容所地址：基隆市七堵區大華三路45-12號<a href="https://goo.gl/maps/XXd4Hsw7bnquBguk7"
									target="_blank">→地圖</a><br>描述：有食物會坐下<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=28266&AcceptNum=QAAAG1051122010&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/59.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/28<br>
								來源行政區：新豐鄉<br>
								動物性別：公<br>
								毛色：花<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/fFQV6S2NJhQRL9jaA"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=211803&AcceptNum=DAAAG1100628004&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="{% static 'images2/60.jpg ' %} "  alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/06/28<br>
								來源行政區：新豐鄉<br>
								動物性別：母<br>
								毛色：虎斑<br>
								動物名：無<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/fFQV6S2NJhQRL9jaA"
									target="_blank">→地圖</a><br>描述：無<br>
								我想領養：<a href="https://asms.coa.gov.tw/Amlapp/app/AnnounceList.aspx?Id=211804&AcceptNum=DAAAG1100628005&PageType=Adopt" target="_blank">請點選</a>
							</p>
						</section>
					</div>
				</div>
			</div>
		
			<ul class="actions special">
				<section class="highlight">
					<p>
						<a href ="adopt">1</a>&ensp;
						<a href ="adopt1">2</a>&ensp;
						<strong><a href ="adopt2">3</a>&ensp;</strong>
						<a href ="adopt3">4</a>&ensp;
						<a href="adopt4">5</a>&ensp;
						<a href="adopt5">6</a>&ensp;
						<a href="adopt6">7</a>&ensp;
					<br></p>
				</section>
				<p><strong><a href="#top">
							TOP
						</a></strong></p>
				<li><a href="https://reurl.cc/4agZ5K" class="button style2 large" target="_blank">查看更多</a></li>
			</ul>
		</section>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>