<!DOCTYPE HTML>

<html>
{% load static %}
<head>
	<title>寵物住宿 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="no-sidebar is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper" >

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="aboutus">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="walk_pet">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming_pet">寵物美容</a></li>
							<li><a href="train_pet">寵物訓練</a></li>
							<li><a href="adopt_pet1">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物商城</a>
						<ul>
							<li><a href="mall_freshfood1">鮮食</a></li>
							<li><a href="mall_feed1">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="mall_clothing1">春夏季</a></li>
									<li><a href="mall_clothing4">秋冬季</a></li>
									<li><a href="mall_clothing7">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="mall_accessories1">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="Hospital_visits">看診項目</a></li>
						<li><a href="Hospital_healthcheck">健康檢查</a></li>
						<li><a href="Hospital_map">醫院地圖</a></li>
						<li><a href="funeral_pet">寵物葬儀</a></li>
						<li><a href="Hospital_commonproblem">常見問題</a></li>
						

					</ul>
				</li>

				</ul>
			</nav>


		</section>

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<div class="title">寵物住宿</div>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar">

							<section class="box">
								<header>
									<h2>快速尋找</h2>
								</header>
								<a href="#雙北市">
									<p>雙北市</p>
								</a>
								<a href="#桃園市">
									<p>桃園市</p>
								</a>
								<a href="#台中市">
									<p>台中市</p>
								</a>
								<a href="#台南市">
									<p>台南市</p>
								</a>
								<a href="#高雄市">
									<p>高雄市</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/Gd0Odv" target="_blank" class="image left"><img
													src="{% static 'images/dog1.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/Gd0Odv"
													target="_blank">每日放狗超有益，5個好處你知道嗎？｜香港01</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/dVZAGD" target="_blank" class="image left"><img
													src="{% static 'images/dog2.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/dVZAGD"
													target="_blank">破除迷思系列：散步對狗狗來說只是消耗體力？｜PetTalk愛寵健康談</a></h3>

										</article>
									</li>


									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/Xenyl3" target="_blank" class="image left"><img
													src="{% static 'images/dog3.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/Xenyl3"
													target="_blank">遛狗好處多多？自己不但能順便運動，心情還會變好！專家這樣建議，讓主人跟毛孩都開心｜風傳媒</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/V3Vlj5" target="_blank" class="image left"><img
													src="{% static 'images/dog4.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/V3Vlj5"
													target="_blank">科學證實養狗的好處這麼多！療癒紓壓還可顧心臟｜聯合新聞網</a></h3>

										</article>
									</li>
									
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/YWzpjX" target="_blank" class="image left"><img
													src="{% static 'images/dog6.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/YWzpjX" target="_blank">帶狗狗散步的利與弊｜每日頭條</a>
											</h3>

										</article>
									</li>
								</ul>

							</section>

						</div>

					</div>
					<div class="col-8 col-12-medium imp-medium">

						<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									<h2><a name="雙北市" id="雙北市"></a>雙北市</h2>
								</header>
								<div class="col-6 col-12-medium">
									<section>
										<h3>DOGHOME 狗狗家寵物旅館</h3>
										<p>地址：台北市大同區華陰街73號<a href="https://goo.gl/maps/CuHPQErR7GNbcFEZ8"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日 09：00 ~ 21：00<br>
											聯絡電話：(02)2555-1513<br>
											特色：繽紛遊樂場、日光的空中廊道、eterno智慧紅外線恆溫寵物墊<br>
											最低價格：980起<br>
											提供服務：安親、寵物美容、寵物住宿、寵物慢性病舒緩照護、輕寵食鮮食服務<br>
											<br>
										</p>
									</section>
								</div>

								<div class="col-6 col-12-medium">
									<section>
										<h3>VERY旺寵物精品旅館</h3>
										<p>地址：台北市松山區八德路2段429號2樓
											<a href="https://goo.gl/maps/Sp7zHnA94Mggwzpm9" target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日 08：15 ~ 21：00<br>
											聯絡電話：(02)2741-2777<br>
											特色：網路APP視訊連線、寵物不關籠、寵物專屬運動場(戶外教室)<br>
											最低價格：980起<br>
											提供服務：安親、寵物美容、寵物住宿、寵物SPA牛奶浴<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>GuGu House寵物旅館</h3>
										<p>地址：台北市中山區敬業一路160號
											<a href="https://goo.gl/maps/d6qDQ4e1X93iJ1ML8" target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日 10：00 ~ 20：00<br>
											聯絡電話：(02)8502-1008<br>
											特色：三菱炭酸泉SPA<br>
											最低價格：980起<br>
											提供服務：日間安親、寵物美容、寵物住宿、商店<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>汪堡</h3>
										<p>地址：台北市中山區敬業二路69巷57號
											<a href="https://goo.gl/maps/cEabsnqYifFEidfc6" target="_blank">→地圖</a><br>

											營業時間：週一 ~ 週日 9：00 ~ 20：00<br>
											聯絡電話：(02)8501-2134<br>
											特色：開方式遊戲區、12不同主題房型、房間獨立排風系統<br>
											最低價格：1400起<br>
											提供服務：安親、寵物美容、寵物住宿
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>北歐寵物旅館</h3>
										<p>地址： 台北市大安區新生南路二段60-1號
											<a href="https://goo.gl/maps/uCXyFG829mDceegj9" target="_blank">→地圖</a><br>

											營業時間：週一 ~ 週日8：00 ~ 22：00<br>
											聯絡電話： (02)2322-4358<br>
											特色：24H 視訊連線、獨立空調、丹麥 Flugger 環保塗料<br>
											最低價格：800起<br>
											提供服務：安親、寵物美容、寵物住宿
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>小客廳寵物旅館</h3>
										<p>地址：台北市內湖區成功路四段30巷19號
											<a href="https://g.page/thelivingroompet?share" target="_blank">→地圖</a><br>

											營業時間：週一 ~ 週五8：00 ~ 21：00、週六 ~ 週日9：00 ~ 21：00<br>
											聯絡電話：(02)8791-8081<br>
											特色：24小時遠端監控、防滑地磚、開放大空間<br>
											最低價格：480起<br>
											提供服務：安親、寵物美容、寵物住宿
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>黑鼻子寵物旅館</h3>
										<p>地址：台北市內湖區內湖路二段263巷9弄5號
											<a href="https://goo.gl/maps/FVgv88NCEWNL4JeZ9" target="_blank">→地圖</a><br>

											營業時間：週一 ~ 週日8：00 ~ 21：00<br>
											聯絡電話：(02)8791- 2541<br>
											特色：TTouch輔導、櫃台與住宿區分離、軟木地板、24小時視訊連線<br>
											最低價格：800起<br>
											提供服務：安親、寵物美容、寵物住宿、TTouch輔導
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>三毛寵物旅館.美容</h3>
										<p>地址：新北市永和區中和路421巷3弄1號1樓
											<a href="https://g.page/somemore?share" target="_blank">→地圖</a><br>

											營業時間：週一 ~ 週日8：30 ~ 22：00<br>
											聯絡電話：(02)2925-8933<br>
											特色：24小時視訊觀看系統、全館醫療級消毒、幫毛小孩寫日記並拍攝可愛照片<br>
											最低價格：600起<br>
											提供服務：安親、寵物美容、寵物住宿
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>BUDDY dog hotel & salon</h3>
										<p>地址：新北市板橋區文化路一段136巷10號1樓
											<a href="https://goo.gl/maps/L1ttb3mPXg43jKca8" target="_blank">→地圖</a><br>

											營業時間：週一 ~ 週日10：00 ~ 20：00<br>
											聯絡電話：(02)2256-9968<br>
											特色：24hr線上監控、每日殺菌、免費安親<br>
											最低價格：900起<br>
											提供服務：免費安親、寵物美容、寵物住宿
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>胖狗屋寵物旅館</h3>
										<p>地址：新北市永和區永貞路85號
											<a href="https://goo.gl/maps/zVoEcMBNLgR3HCKt5" target="_blank">→地圖</a><br>

											營業時間：週一 ~ 週日11：00 ~ 21：00<br>
											聯絡電話：(02)2928-0365<br>
											特色：不關籠開放式居住空間、毛孩數量嚴格控管、24小時室內錄影監控<br>
											最低價格：500起<br>
											提供服務：安親、寵物住宿
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>卡哇伊寵物旅館</h3>
										<p>地址：台北市松山區八德路2段429號2樓
											<a href="https://goo.gl/maps/uXm16AsvMeCvj7YM6" target="_blank">→地圖</a><br>
											地址：新北三重區自強路二段20號<br>
											營業時間：週一 ~ 週日11：00 ~ 20：00、※週二公休<br>

											聯絡電話：(02)2980-9812<br>
											特色：開放式住宿空間、不關籠、每日照片或影片回傳住宿狀況<br>
											最低價格：400起<br>
											提供服務：安親、寵物美容、寵物住宿
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>板橋澎澎寵物旅館</h3>
										<p>地址：新北市板橋區新生街29巷15弄2號1樓
											<a href="https://g.page/pongpong168?share" target="_blank">→地圖</a><br>

											營業時間：週一 ~ 週日11：00 ~ 21：00<br>
											聯絡電話：0926876651<br>
											特色：24小時視訊即時監控、提供全方位的照護<br>
											最低價格：600起<br>
											提供服務：寵物美容、寵物住宿、寵物包房
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>MOMO寵物旅館</h3>
										<p> 地址：新北市板橋區新生街29巷15弄2號1樓
											<a href="https://g.page/momopethotel?share" target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日11：00 ~ 21：00<br>
											聯絡電話：0926876651<br>
											特色：24小時視訊即時監控、提供全方位的照護<br>
											最低價格：600起<br>
											提供服務：寵物美容、寵物住宿、寵物包房
											<br>
										</p>
									</section>
								</div><br>
								<p><strong><a href="#top">
									TOP
								</a></strong></p>
								<p></p><br>
								<header class="style1">
									<h2><a name="桃園市" id="桃園市"></a>桃園市</h2>
								</header>
								<div class="col-6 col-12-medium">
									<section>
										<h3>好萌好猛 寵物旅館</h3>
										<p>地址：桃園市中壢區永泰路151號 <a href="https://goo.gl/maps/8SChrNVN3DtymxnJA"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日10：00 ~ 19：00<br>
											聯絡電話：0973006852<br>
											特色：獨立木隔間、獨立放風、專業訓練師訓練<br>
											最低價格：600起<br>
											提供服務：安親、寵物住宿、住宿訓練
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>YoYoDogs悠遊狗寵物旅館</h3>
										<p>地址：桃園市觀音區崙坪里12鄰210-6號 <a href="https://goo.gl/maps/Ui8cK3h6W9Asti169"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日 9：00 ~ 21：30 <br>
											聯絡電話：(03)4981936 <br>
											特色：獨立大房間不關籠、每日戶外運動3hr以上、24小時LIVE視訊 <br>
											最低價格：550起 <br>
											提供服務：寵物美容、寵物住宿、接送服務
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>快樂尾巴寵物旅館 </h3>
										<p>地址：桃園市桃園區中正路348號1樓<a href="https://goo.gl/maps/hirHkTzAgUSH7STh9"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日9：00 ~ 21：00<br>
											聯絡電話：(03)3479189<br>
											特色：獨立房間不關籠、Line的即時訊息聯絡<br>
											最低價格：600起<br>
											提供服務：安親、寵物住宿
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>品湛動物醫院/一家三口動物旅館</h3>
										<p>地址：桃園市桃園區民生路495號之9 <a href="https://goo.gl/maps/1UJ9dgzyGv9cAZdL6"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日9：00 ~ 20：00<br>
											聯絡電話：(03)3363252<br>
											特色：不關籠、醫療級光觸媒紫外線空氣清淨機、專屬保姆日誌服務、24小時視訊連線、專屬小花園<br>
											最低價格：600起<br>
											提供服務：安親、寵物美容、寵物住宿、寵物醫院
											<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>動物派對 寵物沙龍·旅館</h3>
										<p>地址：桃園市桃園區經國路208巷22號1樓<a href="https://g.page/animalpartyzoo28?share"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日10：00 ~ 20：00<br>
											聯絡電話：(03)3562562<br>
											特色：全開放不關籠、24hr恆溫空調、次氯酸環境除臭殺菌<br>
											最低價格：500起<br>
											提供服務：寵物美容、寵物住宿、寵物諮詢<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>唯一寵物</h3>
										<p>地址：桃園市桃園區經國路208巷22號1樓 <a href="https://goo.gl/maps/ZWiFaaV6u5EYTNEw6"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日11：00 ~ 20：00、※週三、週四公休<br>
											聯絡電話：(03)3668830<br>
											特色：綠建材櫃體、24hr遠端監控系統、德國BRITA過濾飲用水<br>
											最低價格：500起<br>
											提供服務：寵物美容、寵物住宿 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>YoYoDogs悠遊狗寵物旅館</h3>
										<p>地址：桃園市觀音區崙坪里12鄰210-6號 <a href="https://goo.gl/maps/Ui8cK3h6W9Asti169"
												target="_blank">→地圖</a><br>

											營業時間：週一 ~ 週日 9：00 ~ 21：30 <br>
											聯絡電話：(03)4981936 <br>
											特色：獨立大房間不關籠、每日戶外運動3hr以上、24小時LIVE視訊 <br>
											最低價格：550起 <br>
											提供服務：寵物美容、寵物住宿、接送服務

											<br>
										</p>
									</section>
								</div><br>
								<p><strong><a href="#top">
											TOP
										</a></strong></p>
								<p></p><br>
								<header class="style1">
									<h2><a name="台中市" id="台中市"></a>台中市</h2>
								</header>
								<div class="col-6 col-12-medium">
									<section>
										<h3>沃夫寵物旅館</h3>
										<p>地址：台中市北屯區柳陽西街118號<a href="https://g.page/Woofpet?share"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日10：30 ~ 19：30<br>
											聯絡電話：(04)22472520<br>
											特色：獨立隔間、獨立式空調、24hr監視器、寵物專用泳池、私人大草皮<br>
											最低價格：850起<br>
											提供服務：寵物美容、寵物住宿 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>希米亞寵物旅館</h3>
										<p>地址：台中市南區工學北路86號1樓<a href="https://g.page/cmeeya?share"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週六10：00 ~ 21：00、※週日公休<br>
											聯絡電話：(04)22605478<br>
											特色：接送服務、放風散步、負離子空氣清淨機<br>
											最低價格：500起<br>
											提供服務：安親、寵物美容、寵物住宿 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>寵曖貓狗生活館</h3>
										<p>地址：台中市中區民族路223號<a href="https://g.page/chongai03?share"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日11：00 ~ 20：00<br>
											聯絡電話：(04)22219988<br>
											特色：24H監控影像、每日三次放風、紫外線及乾濕度監控<br>
											最低價格：600起<br>
											提供服務：寵物美容、寵物住宿 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>瑋特貓狗SPA生活館</h3>
										<p>地址：台中市南屯區大墩十一街648號<a href="https://g.page/wt-spa-holel?share"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日10：00 ~ 21：00<br>
											聯絡電話：(04)23208339<br>
											特色：光觸媒紫外線殺菌、24小時網路攝影機監控服務、三菱高濃度碳酸泉機<br>
											最低價格：800起<br>
											提供服務：安親、寵物美容、寵物住宿、狗狗牙齒護理、接送服務 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>多力寵物美容精品旅館</h3>
										<p>地址：台中市南屯區文心南二路398號<a href="https://goo.gl/maps/MRBtrZg9YbZDayAP7"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週五11：00 ~ 20：00、週六及週日 10:00~20:00、※週二、週三公休<br>
											聯絡電話：0976912257<br>
											特色：獨立的冷氣出風口、24hr專屬攝影機<br>
											最低價格：1000起(優惠週一到週四平日5折，週五六日週末7折，國定假日不折扣)<br>
											提供服務：安親、寵物美容、寵物住宿、接送服務 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>狗然自得 Go Relax • 台中寵物美容旅館</h3>
										<p>地址：台中市南屯區文心南六路19號2樓<a href="https://g.page/gorelax_dogsalon?share"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日10：00 ~ 12:00、1:00 ~ 20：00、週三10：00 ~ 12:00<br>
											聯絡電話：(04)24759429<br>
											特色：提供散步服務、戶外草地、開放式住宿空間<br>
											最低價格：800起<br>
											提供服務：安親、寵物美容、寵物住宿、接送服務 <br>
										</p>
									</section>
								</div><br>
								<p><strong><a href="#top">
											TOP
										</a></strong></p>
								<p></p><br>
								<header class="style1">
									<h2><a name="台南市" id="台南市"></a>台南市</h2>
								</header>
								<div class="col-6 col-12-medium">
									<section>
										<h3>壞壞狗大空間狗狗旅館</h3>
										<p>地址：台南市北區成功路382-1號<a href="https://goo.gl/maps/5JbzH26v2Q2mXNEe7"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日10：00 ~ 19:00、※週二公休<br>
											聯絡電話：(06)2222083<br>
											特色：獨立休息室、使用次氯酸及木酢液消毒<br>
											最低價格：450起<br>
											提供服務：安親、寵物美容、寵物住宿、接送服務 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>Smile Dogtel</h3>
										<p>地址：台南市慶平路689號2樓<a href="https://goo.gl/maps/dxyRk8VzyyuU93NfA"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日11：00 ~ 20:00<br>
											聯絡電話：0973581567<br>
											特色：不關籠、遠端監視器、多次外出散步<br>
											最低價格：600起<br>
											提供服務：安親、寵物住宿、到府保母、寵物接送<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>史溫托爾寵物旅館</h3>
										<p>地址：台南市安平區永華路二段660號<a href="https://goo.gl/maps/BgsPee2EaFsmt2Ab8"
												target="_blank">→地圖</a><br>
											營業時間：週一14:00~19:30、週三 ~ 週日11：00 ~ 19:30、※週二公休<br>
											聯絡電話：(06)2993038<br>
											特色：不關籠、定期散步、APP遠端視訊<br>
											最低價格：500起<br>
											提供服務：安親、寵物美容、寵物住宿 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>愛微笑寵物旅館</h3>
										<p>地址：台南市新市區中山路13巷37號<a href="https://goo.gl/maps/QNLe5eZyQjEViRXWA"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日10：00 ~ 19:00<br>
											聯絡電話：0932172117<br>
											特色：獨立房間不關籠、私人戶外大草皮、24hr監控設備<br>
											最低價格：500起<br>
											提供服務：安親、寵物美容、寵物住宿、接送服務<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>桃樂斯寵物美容住宿</h3>
										<p>地址：台南市北區文賢路1162號<a href="https://goo.gl/maps/4U5aQW18gDr4k9qBA"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日9：00 ~ 21:00<br>
											聯絡電話：(06)2500333 / (06)2800717<br>
											特色：不關籠住宿、寵物泳池<br>
											最低價格：400起<br>
											提供服務：寵物美容、寵物住宿、接送服務、寵物攝影寫真 <br>
										</p>
									</section>
								</div><br>
								<p><strong><a href="#top">
											TOP
										</a></strong></p>
								<p></p><br>
								<header class="style1">
									<h2><a name="高雄市" id="高雄市"></a>高雄市</h2>
								</header>
								<div class="col-6 col-12-medium">
									<section>
										<h3>窩牛寵物旅館 </h3>
										<p>地址：高雄市鼓山區瑞豐街134號<a href="https://goo.gl/maps/KCY5prXb44Xsr6cw5"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日10：00 ~ 20:00<br>
											聯絡電話：(07)5868782<br>
											特色：獨立大房間不關籠、專屬放風運動場、影像監控系統<br>
											最低價格：500起<br>
											提供服務：安親、寵物住宿、手作鮮食 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>貝貝窩寵物美容</h3>
										<p>地址：高雄市大學二十一路237巷6號<a href="https://goo.gl/maps/5XA9NrPi9P1t6W6N9"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週五9：00 ~ 18:00、※週六、日公休<br>
											聯絡電話：(07)5868782<br>
											特色：每日散步、開放式空間<br>
											最低價格：650起<br>
											提供服務：安親、寵物美容、寵物住宿<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>杜莉德·寵物旅館</h3>
										<p> 地址：高雄市新光路140巷23號4樓<a href="https://goo.gl/maps/rEWufExrnG3YAXjX7"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日9：00 ~ 21:00<br>
											聯絡電話：(07)2692268<br>
											特色：不關籠、每日散步<br>
											最低價格：480起<br>
											提供服務：安親、寵物住宿 <br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>狗狗村寵物旅館</h3>
										<p>地址：高雄市苓雅區福安路424號<a href="https://goo.gl/maps/iYonw95Cc3WnZ6ESA"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週日9：30 ~ 19:00<br>
											聯絡電話：0983700316<br>
											特色：獨立房間、不關籠、每日散步<br>
											最低價格：700起<br>
											提供服務：安親、寵物美容、寵物住宿、接送服務<br>
										</p>
									</section>
								</div>
								<p></p>
								<div class="col-6 col-12-medium">
									<section>
										<h3>幸運草寵物美容</h3>
										<p>地址：高雄市前鎮區二聖二路13號<a href="https://goo.gl/maps/GESLjwLhTxQhW54q9"
												target="_blank">→地圖</a><br>
											營業時間：週一 ~ 週六9：30 ~ 19:00、※週日公休<br>
											聯絡電話：0981597123<br>
											特色：24hr監控設備、專屬包廂<br>
											最低價格：600起<br>
											提供服務：安親、寵物美容、寵物住宿、接送服務<br>
										</p>
									</section>
								</div><br>
								<p><strong><a href="#top">
											TOP
										</a></strong></p>
							</article>
						</div>
					</div>

				</div>
			</div>
	</div>
	</section>


	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>