<!DOCTYPE HTML>
<html>
{% load static %}
<head>
	<title>寵物商城 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="calendar">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="pet-f">飲食紀錄</a></li>
							<li><a href="walk">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming">寵物美容</a></li>
							<li><a href="train">寵物訓練</a></li>
							<li><a href="adopt">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="s11">鮮食</a></li>
							<li><a href="s21">飼料</a></li>
							<li><a href="">衣服</a>
							<ul>
								<li><a href="s31">春夏季</a></li>
								<li><a href="s34">秋冬季</a></li>
								<li><a href="s37">其他</a></li>
							</ul></li>
					</li>
					<li><a href="s41">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>
						<li><a href="line">線上諮詢</a></li>
						<li><a href="h2">看診項目</a></li>
						<li><a href="h3">門診時間</a></li>
						<li><a href="h4">健康檢查</a></li>
						<li><a href="h5">醫院地圖</a></li>
						<li><a href="h6">常見問題</a></li>
						<li><a href="h7">關於我們</a></li>
					</ul>
				</li>

				</ul>
			</nav>

		</section>


		<section id="highlights" class="wrapper style3">
			<div class="title">鮮食</div>
			<div class="container">
				<div class="row aln-center">
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/W3d1my" class="image featured" target="_blank"><img
									src="{% static 'images1/13.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/W3d1my" target="_blank">K9 鮮燉生肉主食狗罐 無穀雞</a></h3>
							<p><strong>原料成份：</strong><br>雞肉、雞蛋、亞麻籽殼.鱈魚油、棕色海藻、紐西蘭綠唇貝.南瓜、绿花椰菜、花椰菜、甘藍菜.硫酸鉀、乾海藻、蘋果、梨、鹽、維生素E、鋅蛋白、鐵蛋白、葵花籽油、氧化鎂、硒酵母、銅蛋白.錳蛋白、B.胡蘿蔔素、維生素B1、維生素D3、紐西蘭純水</p>
							<p><strong>營養標示：</strong><br>優質蛋白質(至少)9%、粗脂肪(至少)6.5%、粗纖維(至多)0.5%、水分(至多)81.2%</p>
							<p><strong>重量：</strong><br>170g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/W3d1my" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/ZGObxW" class="image featured" target="_blank"><img
									src="{% static 'images1/14.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/ZGObxW" target="_blank">K9 鮮燉生肉主食狗罐 無穀羊</a></h3>
							<p><strong>原料成份：</strong><br>羊肉、羊肚、羊心、鮭魚、羊腎、羊肝、羊血、雞蛋.羊牌、磨碎羊肉骨、葵花籽油、亞麻籽片、棕色海藻、紐西蘭綠唇貝、南瓜、綠花椰菜、花椰菜、甘藍菜、硫酸鉀、乾海藻、蘋果、鹽、E、鋅蛋白、鐵蛋白、氣化鎂、銅蛋白、錳蛋白、B.胡蘿蔔素.B1、D3、紐西蘭純水</p>
							<p><strong>營養標示：</strong><br>優質蛋白質至少8.5%、粗脂肪8.5%、粗獵維至多0.7%、水分至多80%、EPA&DHA0.09%</p>
							<p><strong>重量：</strong><br>170g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/ZGObxW" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/MAvNEp" class="image featured" target="_blank"><img
									src="{% static 'images1/15.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/MAvNEp" target="_blank">K9 鮮燉生肉主食狗罐 無穀牛</a></h3>
							<p><strong>原料成份：</strong><br>牛肉、牛肝·牛肚·牛腎、牛心·牛血、雞蛋、牛脾、磨碎牛骨、葵花籽油、亞麻籽殼、棕色海藻、紐西蘭綠唇貝、南瓜、綠花椰菜、花椰菜.甘藍菜、硫酸鉀、乾海藻、蘋果、梨、E、鋅蛋白、鐵蛋白、氧化鎂、硒酵母、銅蛋白、錳蛋白、B.胡蘿蔔素、B1、D3、紐西蘭純水</p>
							<p><strong>營養標示：</strong><br>蛋白質13.0%以上、粗脂肪0.1%以上、粗纖維2.0%以下、粗灰分2.0%以下、水分82.0%以下</p>
							<p><strong>重量：</strong><br>170g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/MAvNEp" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/eExOrx" class="image featured" target="_blank"><img
									src="{% static 'images1/16.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/eExOrx">K9 鮮燉生肉主食狗罐 無穀羊+鮭 </a></h3>
							<p><strong>原料成份：</strong><br>羊肉、羊肚.丰心、鮭魚、羊腎、羊肝、羊血.雞蛋、羊牌、磨碎羊肉骨、葵花籽油、亞麻籽片、棕色海藻、紐西蘭綠唇貝、南瓜、綠花椰菜、花椰菜·甘藍菜、硫酸鉀、乾海藻、蘋果、梨、E、鋅蛋白、鐵蛋白.氧化鎂、硒酵母·銅谨白、胡蘿蔔素、B1、D3、紐西蘭純水</p>
							<p><strong>營養標示：</strong><br>優質蛋白質8.5%、粗脂肪(至少)8.5%、粗纖維(至多)0.7%、水分(至多)80%、EPA&DHA0.09%</p>
							<p><strong>重量：</strong><br>170g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/eExOrx" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/nozOaD" class="image featured" target="_blank"><img
									src="{% static 'images1/17.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/nozOaD">K9 鮮燉生肉主食狗罐 牛肉+鱈魚</a></h3>
							<p><strong>原料成份：</strong><br>鱈魚、紐西蘭純水、牛肉、牛肚、牛肝、牛腎、牛心、牛血、牛脾、雞蛋、葵花籽油、亞麻籽殼、棕色海藻、綠唇貝、南瓜、綠花椰、花椰菜、甘藍、硫酸鉀、乾海藻、蘋果、E、鋅蛋白、鐵蛋白、氧化鎂、酵母、銅蛋白、錳蛋白、胡蘿蔔素、B1、D3</p>
							<p><strong>營養標示：</strong><br>優質蛋白質10%、粗脂肪(至少)7%、粗纖維(至多)1.8%、水分(至多)80%、EPA&DHA0.06%</p>
							<p><strong>重量：</strong><br>370g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/nozOaD" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>
					
					<div class="col-4 col-12-medium">
						<section class="highlight">
							<a href="https://reurl.cc/rgxRy4" class="image featured" target="_blank"><img
									src="{% static 'images1/19.jpg ' %}" alt="" /></a>
							<h3><a href="https://reurl.cc/rgxRy4">唯美味 WERUVA狗狗主食罐 什蔬牛肉</a></h3>
							<p><strong>原料成份：</strong><br>雞肉（去骨、去皮雞胸肉）、雞湯、南瓜、胡蘿蔔、豌豆、馬鈴薯澱粉、葵花籽油、磷酸三鈣、黃原膠、氯化膽鹼、硫酸鋅、維生素E、維生素B1、維生素B3、硫酸亞鐵、泛酸鈣、維生素A、碘化鉀、硫酸錳、硫酸銅、維生素B2、維生素B6、葉酸、維生素D3、維生素B12</p>
							<p><strong>營養標示：</strong><br>蛋白質(最少) 8.0%、脂肪(最少) 1.2%、纖維(最多) 0.5%、水分(最多) 87.5%、灰分(最多) 1.2%</p>
							<p><strong>重量：</strong><br>156g</p>
							<ul class="actions">
								<li><a href="https://reurl.cc/rgxRy4" class="button style1" target="_blank">購買</a></li>
							</ul>
						</section>
					</div>

					<div class="col-4 col-12-medium">
						<section class="highlight">
							<p>
								<a href="s11">1</a>&ensp;
								<a href="s12">2</a>&ensp;
								<strong><a href="s13">3</a>&ensp;</strong>
								<br>
							</p>

						</section>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>