<!DOCTYPE HTML>

<html>
{% load static %}
<head>
	<title>寵物領養 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
</head>

<body class="no-sidebar is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>YOUR PET</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify.html">修改密碼</a></li>
							<li><a href="calendar.html">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="pet-m.html">寵物記帳</a></li>
							<li><a href="pet-f.html">飲食紀錄</a></li>
							<li><a href="pet-w1.html">散步地圖</a></li>
							<li><a href="pet-h.html">寵物住宿</a></li>
							<li><a href="pet-g11.html">寵物美容</a></li>
							<li><a href="pet-t11.html">寵物訓練</a></li>
							<li><a href="pet-a.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="pet-s11.html">鮮食</a></li>
							<li><a href="pet-s21.html">飼料</a></li>
							<li><a href="pet-s31.html">衣服</a></li>
							<li><a href="pet-s41.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="pet-h1.html">線上諮詢</a></li>
							<li><a href="pet-h2.html">看診項目</a></li>
							<li><a href="pet-h3.html">門診時間</a></li>
							<li><a href="pet-h4.html">健康檢查</a></li>
							<li><a href="pet-h5.html">醫院地圖</a></li>
							<li><a href="pet-h6.html">常見問題</a></li>
							<li><a href="pet-h7.html">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>

		</section>
		<section id="main" class="wrapper style2">
			<a href="petgrooming.html">
				<div class="title">寵物領養</div>
			</a>


			<div class="feature-list">
				<div class="row">
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/01.jfif" alt="" / style="height: 200px ;">
							<h3>品種：貴賓狗</h3>
							<p>入所日期：2021/05/21<br>
								捕獲地址：大明街25巷4弄16號<br>
								來源行政區：板橋區<br>
								動物性別：公<br>
								毛色：黑<br>
								公告收容所：新北市板橋區公立動物之家<br>
								收容所電話：02-89662158<br>
								收容所地址：新北市板橋區板城路28-1號 <a href="https://goo.gl/maps/a3GGckTNt9a2NTQ16"
									target="_blank">→地圖</a><br>
								我想領養：請聯繫收容所</p>


						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/02.jfif" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/21<br>
								捕獲地址：銅鑼鄉<br>
								來源行政區：銅鑼鄉<br>
								動物性別：母<br>
								毛色：黑白<br>
								公告收容所：苗栗縣生態保育教育中心<br>
								收容所電話：037-558228<br>
								收容所地址：苗栗縣銅鑼鄉朝陽村55-1號 <a href="https://goo.gl/maps/Bd4sckpEPsrof7Qb8"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/Gdzxey" target="_blank">請點選</a></p>


						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/03.jfif" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/20<br>
								來源行政區：北投區<br>
								動物性別：公<br>
								毛色：黑<br>
								公告收容所：臺北市動物之家<br>
								收容所電話：02-87913254<br>
								收容所地址：臺北市內湖區潭美街852號<a href="https://goo.gl/maps/jP37ucQ3nk3SwB9r6"
									target="_blank">→地圖</a><br>
								描述：左剪耳、無睪丸<br>
								我想領養：<a href="https://reurl.cc/e903xb" target="_blank">請點選</a></p>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/04.jfif" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/20<br>
								來源行政區：大園區<br>
								動物性別：公<br>
								毛色：黑白<br>
								公告收容所：桃園市動物保護教育園區<br>
								收容所電話：03-4861760<br>
								收容所地址：桃園市新屋區藻礁路1668號<a href="https://goo.gl/maps/qQaaSMXaru4sDSFt6"
									target="_blank">→地圖</a><br>我想領養：<a href="https://reurl.cc/zb2ZD7"
									target="_blank">請點選</a></p>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/05.jfif" alt="" style="height: 200px ;">
							<h3>品種：吉娃娃</h3>
							<p>入所日期：2021/05/21<br>
								來源行政區：松山區<br>
								動物性別：母<br>
								毛色：黑白<br>
								公告收容所：臺北市動物之家<br>
								收容所電話：02-87913254<br>
								收容所地址：臺北市內湖區潭美街852號<a href="https://goo.gl/maps/jP37ucQ3nk3SwB9r6"
									target="_blank">→地圖</a><br>
								描述：剩一顆牙、雙眼白內障、左眼角膜受損。
								我想領養：已被領養
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/06.jfif" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/21<br>
								來源行政區：竹北市<br>
								動物性別：公<br>
								毛色：黑<br>
								公告收容所：新竹縣公立動物收容所<br>
								收容所電話：03-5519548<br>
								收容所地址：新竹縣竹北市縣政五街192號<a href="https://goo.gl/maps/5TxTtQZrBQ5PTPm3A"
									target="_blank">→地圖</a><br>
								描述：已絕育<br>
								我想領養：<a href="https://reurl.cc/R6Krnz" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/07.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/20<br>
								來源行政區：金寧鄉<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：金門縣動物收容中心<br>
								收容所電話：082-336625<br>
								收容所地址：金門縣金湖鎮裕民農莊20號<a href="https://goo.gl/maps/sRpX6djoHcrL1bcV8"
									target="_blank">→地圖</a><br>
								描述：約8~10月齡<br>
								我想領養：<a href="https://reurl.cc/AgE703" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/08.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/20<br>
								來源行政區：苗栗市<br>
								動物性別：公<br>
								毛色：虎斑<br>
								公告收容所：苗栗縣生態保育教育中心<br>
								收容所電話：037-558228<br>
								收容所地址：苗栗縣銅鑼鄉朝陽村55-1號<a href="https://goo.gl/maps/Bd4sckpEPsrof7Qb8"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/0DVp9b" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/09.jfif" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/20<br>
								來源行政區：竹南鎮<br>
								動物性別：公<br>
								毛色：黃白<br>
								公告收容所：苗栗縣生態保育教育中心<br>
								收容所電話：037-558228<br>
								收容所地址：苗栗縣銅鑼鄉朝陽村55-1號<a href="https://goo.gl/maps/Bd4sckpEPsrof7Qb8"
									target="_blank">→地圖</a><br>
								我想領養：請聯繫收容所
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/10.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/20<br>
								來源行政區：三星鄉<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：宜蘭縣流浪動物中途之家<br>
								收容所電話：03-9602350分機620<br>
								收容所地址：宜蘭縣五結鄉利寶路60號<a href="https://goo.gl/maps/c5Usmx8Az3MjGVEw5"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/yn5r4q" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/11.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/20<br>
								來源行政區：南澳鄉<br>
								動物性別：公<br>
								毛色：黑<br>
								公告收容所：宜蘭縣流浪動物中途之家<br>
								收容所電話：03-9602350分機620<br>
								收容所地址：宜蘭縣五結鄉利寶路60號<a href="https://goo.gl/maps/c5Usmx8Az3MjGVEw5"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/bzZ2oy" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/12.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/20<br>
								來源行政區：五股區<br>
								動物性別：公<br>
								毛色：黑<br>
								公告收容所：新北市五股區公立動物之家<br>
								收容所電話：02-82925265<br>
								收容所地址：新北市五股區外寮路9-9號<a href="https://goo.gl/maps/XMQTBKRkS6MDvDZE6"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/8yromg" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/13.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2017/11/22<br>
								來源行政區：神岡區<br>
								動物性別：母<br>
								毛色：黑棕<br>
								公告收容所：臺中市動物之家南屯園區<br>
								收容所電話：04-23850976<br>
								收容所地址：臺中市南屯區中台路601號<a href="https://goo.gl/maps/Gt4xogS77pApMNv26"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/W345Yx" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/14.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2019/01/12<br>
								來源行政區：北屯區<br>
								動物性別：母<br>
								毛色：米<br>
								公告收容所：臺中市動物之家南屯園區<br>
								收容所電話：04-23850976<br>
								收容所地址：臺中市南屯區中台路601號<a href="https://goo.gl/maps/Gt4xogS77pApMNv26"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/3a10lO" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/15.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2018/01/18<br>
								來源行政區：太平區<br>
								動物性別：公<br>
								毛色：黃白<br>
								公告收容所：臺中市動物之家南屯園區<br>
								收容所電話：04-23850976<br>
								收容所地址：臺中市南屯區中台路601號<a href="https://goo.gl/maps/Gt4xogS77pApMNv26"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/YOl2rx" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/16.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2016/04/13<br>
								來源行政區：北區<br>
								動物性別：公<br>
								毛色：黑白<br>
								公告收容所：臺中市動物之家南屯園區<br>
								收容所電話：04-23850976<br>
								收容所地址：臺中市南屯區中台路601號<a href="https://goo.gl/maps/Gt4xogS77pApMNv26"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/3a10nR" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/17.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2015/11/22<br>
								來源行政區：霧峰區<br>
								動物性別：公<br>
								毛色：黑白<br>
								公告收容所：臺中市動物之家南屯園區<br>
								收容所電話：04-23850976<br>
								收容所地址：臺中市南屯區中台路601號<a href="https://goo.gl/maps/Gt4xogS77pApMNv26"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/lRLqWE" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/18.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2018/01/18<br>
								來源行政區：大甲區<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：臺中市動物之家南屯園區<br>
								收容所電話：04-23850976<br>
								收容所地址：臺中市南屯區中台路601號<a href="https://goo.gl/maps/Gt4xogS77pApMNv26"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/kZ5RAq" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/19.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/27<br>
								來源行政區：大村鄉<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/YOl2rx" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/20.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：鹿港鎮<br>
								動物性別：公<br>
								毛色：黑<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/Q9pyMb" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/21.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/25<br>
								來源行政區：田尾鄉<br>
								動物性別：公<br>
								毛色：黑黃<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/3a100L" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/22.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/19<br>
								來源行政區：線西鄉<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/mLdVEj" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/23.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/17<br>
								來源行政區：永靖鄉<br>
								動物性別：母<br>
								毛色：黃<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/YOl2yL" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/24.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/07<br>
								來源行政區：芬園鄉<br>
								動物性別：公<br>
								毛色：黃<br>
								公告收容所：彰化縣流浪狗中途之家<br>
								收容所電話：04-8590638<br>
								收容所地址：彰化縣員林市阿寶巷426號<a href="https://goo.gl/maps/mg9bkkf83dCd7zA4A"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/EnK3qk" target="_blank">請點選</a>
							</p>
						</section>
					</div>

					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/25.jpg" alt="" style="height: 200px ;">
							<h3>品種：柯基</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：鼓山區<br>
								動物性別：母<br>
								毛色：黃<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/4agZ5K" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/26.jpg" alt="" style="height: 200px ;">
							<h3>品種：臘腸</h3>
							<p>入所日期：2021/05/26<br>
								來源行政區：苓雅區<br>
								動物性別：母<br>
								毛色：黃<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/NraVr9" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/27.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/21<br>
								來源行政區：鼓山區<br>
								動物性別：公<br>
								毛色：花<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/Lb1R74" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/28.jpg" alt="" style="height: 200px ;">
							<h3>品種：拉不拉多</h3>
							<p>入所日期：2021/05/18<br>
								來源行政區：橋頭區<br>
								動物性別：公<br>
								毛色：白<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/kZ5D7L" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/29.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/18<br>
								來源行政區：橋頭區<br>
								動物性別：公<br>
								毛色：黃<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/Dg1GdE" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/30.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/11<br>
								來源行政區：小港區<br>
								動物性別：母<br>
								毛色：花<br>
								公告收容所：高雄市壽山動物保護教育園區<br>
								收容所電話：07-5519059<br>
								收容所地址：高雄市鼓山區萬壽路350號<a href="https://goo.gl/maps/c1H2kYg8dYH9rgfu7"
									target="_blank">→地圖</a><br>
								我想領養：<a href="https://reurl.cc/9rz2Gd" target="_blank">請點選</a>
							</p>
						</section>
					</div>



					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/31.jpg" alt="" style="height: 200px ;">
							<h3>品種：法國鬥牛</h3>
							<p>入所日期：2021/05/25<br>
								來源行政區：安南區<br>
								動物性別：母<br>
								毛色：白<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>
								描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								更多資訊：<a href="https://reurl.cc/W34l8k" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/32.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/05/22<br>
								來源行政區：新化區<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>
								描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								更多資訊：<a href="https://reurl.cc/GmkWap" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/33.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/04/20<br>
								來源行政區：龍崎區<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>
								描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								更多資訊：<a href="https://reurl.cc/gWvKNz" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/34.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/03/17<br>
								來源行政區：南區<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>
								描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								更多資訊：<a href="https://reurl.cc/O0b9gv" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/35.jpg" alt="" style="height: 200px ;">
							<h3>品種：巴戈</h3>
							<p>入所日期：2021/03/12<br>
								來源行政區：東區<br>
								動物性別：公<br>
								毛色：棕<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/ZGnpg3" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/36.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/02/24<br>
								來源行政區：南區<br>
								動物性別：公<br>
								毛色：黑白<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/2r4pAr" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/37.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/01/29<br>
								來源行政區：歸仁區<br>
								動物性別：母<br>
								毛色：米<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/MA7qmL" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/38.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：2021/01/20<br>
								來源行政區：安南區<br>
								動物性別：母<br>
								毛色：黑<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/qgDQjq" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/39.jpg" alt="" style="height: 200px ;">
							<h3>品種：法國鬥牛</h3>
							<p>入所日期：2020/12/15<br>
								來源行政區：七股區<br>
								動物性別：公<br>
								毛色：米<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/lRLGr9" target="_blank">請點選</a>
							</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
							<img src="images2/40.jpg" alt="" style="height: 200px ;">
							<h3>品種：混種狗</h3>
							<p>入所日期：202/12/17<br>
								來源行政區：南區<br>
								動物性別：母<br>
								毛色：黑黃<br>
								動物名：阿Q<br>
								公告收容所：臺南市動物之家灣裡站<br>
								收容所電話：06-2964439<br>
								收容所地址：臺南市南區萬年路580巷92號<a href="https://goo.gl/maps/4EWU7W3cBxMVqmUCA"
									target="_blank">→地圖</a><br>描述：本站動物皆採現場互動面談後評估能否認養，不接受系統上的預約<br>
								我想領養：<a href="https://reurl.cc/EnKEl0" target="_blank">請點選</a>
							</p>
						</section>
					</div>
				</div>
			</div>
			<ul class="actions special">
				<p><strong><a href="#top">
							TOP
						</a></strong></p>
				<li><a href="https://reurl.cc/4agZ5K" class="button style2 large" target="_blank">查看更多</a></li>
			</ul>
		</section>
	</div>

	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}" ></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>