<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物葬儀 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="homepage is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="aboutus">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="#">飲食紀錄</a></li>
							<li><a href="walk_pet">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming_pet">寵物美容</a></li>
							<li><a href="train_pet">寵物訓練</a></li>
							<li><a href="adopt_pet1">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="mall_freshfood1">鮮食</a></li>
							<li><a href="mall_feed1">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="mall_clothing1">春夏季</a></li>
									<li><a href="mall_clothing4">秋冬季</a></li>
									<li><a href="mall_clothing7">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="mall_accessories1">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="Hospital_visits">看診項目</a></li>
						<li><a href="Hospital_healthcheck">健康檢查</a></li>
						<li><a href="Hospital_map">醫院地圖</a></li>
						<li><a href="funeral_pet">寵物葬儀</a></li>
						<li><a href="Hospital_commonproblem">常見問題</a></li>

					</ul>
				</li>

				</ul>
			</nav>


		</section>

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<div class="title">寵物葬儀</div>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-8 col-12-medium">

						<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									<br>
									<p><strong><a name="雙北市" id="雙北市"></a>雙北市</strong></p>
                                    <p><strong>邱媽媽生命美學 5.0★</strong></p>
									<p>地址：台北市內湖區文德路22巷114號1樓</p>
									<p>電話：0920812871</p>
									<br>
									<p><strong>翡翠森林寵物服務處 5.0★</strong></p>
									<p>地址：台北市中山區新生北路一段45號</p>
									<p>電話：0800-522020</p>
									<br>
                                    <p><strong>萬里福田寵物城堡 4.8★</strong></p>
									<p>地址：新北市萬里區大坪11號</p>
									<p>電話：0809-000555</p>
									<br>
                                    <p><strong>林口懷恩寵物安樂園 4.7★</strong></p>
									<p>地址：新北市林口區頂福69號</p>
									<p>電話：(02)2609-3133</p>
									<br>
                                    <p><strong>北新莊觀光休閒寵物安樂園 4.0★</strong></p>
									<p>地址：新北市淡水區北新路一段603號</p>
									<p>電話：(02)2622-0449</p>
									<br>
									<p><strong>臺北市動物保護處 3.3★</strong></p>
									<p>地址：臺北市信義區吳興街600巷109號</p>
									<p>電話：(02)8789-7158</p>
									<br>
									<p><strong>新北市政府動物保護防疫處 3.1★</strong></p>
									<p>地址：新北市板橋區四川路一段157巷2號</p>
									<p>電話：(02)2959-6353</p>
									<br>
									<p><strong><a href="#top">
												TOP
											</a></strong></p><br><br>

									<p><strong><a name="桃園市" id="桃園市"></a>桃園市</strong></p>
									<p><strong>星城生命 4.8★</strong></p>
									<p>地址：桃園市平鎮區新富一街9號</p>
									<p>電話：0972381987</p>
                                    <br>
                                    <p><strong>慈歆寵物服務有限公司 5.0★</strong></p>
									<p>地址：桃園市新屋區下田里員笨36之3號</p>
									<p>電話：0918125878</p>
									<br>
									<p><strong>天鳴生命禮儀有限公司 5.0★</strong></p>
									<p>地址：桃園市中壢區華美三路353號6F-3</p>
									<p>電話：0916555635</p>
									<br>
									<p><strong>拉諾彩虹 5.0★</strong></p>
									<p>地址：桃園市中壢區培英路310號</p>
									<p>電話：0800-868484</p>
									<br>
									<p><strong>宸豐生命禮儀 4.9★</strong></p>
									<p>地址：桃園市八德區山下街13號</p>
									<p>電話：0975509872</p>
									<br>
									<p><strong>桃園市政府動物保護防疫處 3.1★</strong></p>
									<p>地址：桃園市桃園區縣府路57號</p>
									<p>電話：(03)332-6742</p>
									<br>
									
									
									<p><strong><a href="#雙北市">
												TOP
											</a></strong></p><br><br>
									<p><strong><a name="台中市" id="台中市"></a>台中市</strong></p>
									<p><strong>天使驛站-寵物火化 4.5★</strong></p>
									<p>地址：台中市北區青島路三段12號</p>
									<p>電話：(04)2237-7738</p>
									<br>
                                    <p><strong>寵物永愛園 4.8★</strong></p>
									<p>地址：台中市北區太原南一街10號</p>
									<p>電話：0955833690</p>
									<br>
                                    <p><strong>寵兒安樂園 4.4★</strong></p>
									<p>地址：台中市大里區仁堤路368號</p>
									<p>電話：(04)2271-2425</p>
									<br>
									<p><strong>周家花園火化場 4.2★</strong></p>
									<p>地址：台中市豐原區三豐路2段549巷178弄148號</p>
									<p>電話：(04)2568-2384</p>
									<br>
									<p><strong>安之居寵物樂園農場 3.8★</strong></p>
									<p>地址：台中市太平區長龍路二段579-1號</p>
									<p>電話：(04)2275-3691、0939-873515</p>
									<br>
									<p><strong>臺中市動物保護防疫處 3.7★</strong></p>
									<p>地址：台中市南屯區萬和路一段28-18號</p>
									<p>電話：(04)2386-9420</p>
									<br>
									<p><strong><a href="#雙北市">
												TOP
											</a></strong></p><br><br>
									<p><strong><a name="台南市" id="台南市"></a>台南市</strong></p>
									
									<p><strong>四方寵物樂園 5.0★</strong></p>
									<p>地址：台南市南區國民路465號</p>
									<p>電話：(06)214-7099</p>
									<br>
									<p><strong>寶貝天堂寵物往生服務 5.0★</strong></p>
									<p>地址：台南市東區富農街一段188巷124號</p>
									<p>電話：0800-235156</p>
									<br>
                                    <p><strong>寶貝天堂溫馨園區 5.0★</strong></p>
									<p>地址：台南市七股區竹橋里2424號</p>
									<p>電話：0960501081</p>
									<br>
									<p><strong>三子寵物天堂樂園 4.9★</strong></p>
									<p>地址：台南市新化區中興路302巷83號</p>
									<p>電話：(06)590-7766</p>
									<br>
									<p><strong>白馬寵物樂園 4.8★</strong></p>
									<p>地址：台南市新化區18-6號</p>
									<p>電話：0800-669808</p>
									<br>
									<p><strong>臺南市政府動物防疫保護處 3.7★</strong></p>
									<p>地址：台南市新營區長榮路一段501號</p>
									<p>電話：(06)632-3039</p>
									<br>
									<p><strong><a href="#雙北市">
												TOP
											</a></strong></p><br><br>
									<p><strong><a name="高雄市" id="高雄市"></a>高雄市</strong></p>
									<p><strong>誼馨園寵物莊園 5.0★</strong></p>
									<p>地址：高雄市燕巢區車林巷口號</p>
									<p>電話：(07)721-6521</p>
									<br>
                                    <p><strong>園惟寵物天堂 4.7★</strong></p>
									<p>地址：高雄市大寮區拷潭路3之16號</p>
									<p>電話：(07)370-7111</p>
									<br>
									<p><strong>永懷寵物樂園 4.7★</strong></p>
									<p>地址：高雄市大社區和平路二段291-10號</p>
									<p>電話：0972777726</p>
									<br>
									<p><strong>高雄市燕巢動物保護關愛園區 4.4★</strong></p>
									<p>地址：高雄市燕巢區師大路98號</p>
									<p>電話：(07)605-1002</p>
									<br>
									<p><strong>芙蓉聖心寵物天堂 4.3★</strong></p>
									<p>地址：高雄市鳥松區本館路435-4號</p>
									<p>電話：(07)370-7111</p>
									<br>									
									<p><strong>高雄市壽山動物保護教育園區 3.8★</strong></p>
									<p>地址：高雄市鼓山區萬壽路350號</p>
									<p>電話：(07)551-9059</p>
									<br>
								
									<p><strong><a href="#雙北市">
												TOP
											</a></strong></p>
								</header>

							</article>

						</div>

					</div>
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar">
							<section class="box">
								<header>
									<h2>目錄</h2>
								</header>
								<a href="funeral_pet">
									<p\>寵物葬儀首頁</p>
								</a>
								<a href="funeral_find">
									<p\>尋找寵物葬儀</p>
								</a>
							</section>
                            <section class="box">
								<header>
									<h2>快速尋找</h2>
								</header>
								<a href="#雙北市">
									<p>雙北市</p>
								</a>
								<a href="#桃園市">
									<p>桃園市</p>
								</a>
								<a href="#台中市">
									<p>台中市</p>
								</a>
								<a href="#台南市">
									<p>台南市</p>
								</a>
								<a href="#高雄市">
									<p>高雄市</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/dxaR6q" target="_blank" class="image left"><img src="{% static 'images/fu1.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/dxaR6q" target="_blank" >寵物可以安樂嗎？寵物過世怎麼辦？ | 愛的</a></h3>
											<p>寵物死亡怎麼辦？寵物跟人一樣，何時會走?會因為牠的年齡(老年)...</p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/yeA2Kq" target="_blank" class="image left"><img src="{% static 'images/fu2.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/yeA2Kq" target="_blank">你知道寵物過世處理方法嗎？原來寵物火化費用會依體重而不同 | 冬瓜行旅</a></h3>
											<p>對於有寵物的家庭而言，寵物就是他們的「親人」，但是養寵物就勢必得經歷牠們的生老病死... </p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/95nMlx" class="image left"><img src="{% static 'images/fu3.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/95nMlx">對過世毛孩心懷愧疚？溝通師：其實動物都知道你為牠好 | ETtoday新聞雲</a></h3>
											<p>看面臨毛小孩過世，很多人除了悲痛，還可能伴隨著「罪惡感」...</p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/52Reznx" class="image left"><img src="{% static 'images/fu4.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/52Rezn">親如家人的寵物過世，如何走出悲傷？安慰毛小孩主人可以這樣說 | 大家健康</a></h3>
											<p>狗狗是人類最忠誠的朋友，不論你喜怒哀樂牠都樂意相陪...</p>
										</article>
									</li>
								</ul>

							</section>

						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- Highlights -->
		

	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>