<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>看診項目 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="homepage is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index.html">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="modify.html">修改密碼</a></li>
							<li><a href="calendar.html">行事曆</a></li>
							<li><a href="#">登出</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="pet-m.html">寵物記帳</a></li>
							<li><a href="pet-f.html">飲食紀錄</a></li>
							<li><a href="pet-w0.html">散步地圖</a></li>
							<li><a href="pet-h.html">寵物住宿</a></li>
							<li><a href="pet-g11.html">寵物美容</a></li>
							<li><a href="pet-t11.html">寵物訓練</a></li>
							<li><a href="pet-a.html">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">線上商城</a>
						<ul>
							<li><a href="pet-s11.html">鮮食</a></li>
							<li><a href="pet-s21.html">飼料</a></li>
							<li><a href="">衣服</a></li>
							<ul> 
								<li><a href="pet-s31.html">春夏季</a></li>
								<li><a href="pet-s34.html">秋冬季</a></li>
								<li><a href="pet-s37.html">其他</a></li>
							</ul>
						</li>
							<li><a href="pet-s41.html">配件</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物醫院</a>
						<ul>
							<li><a href="pet-h1.html">線上諮詢</a></li>
							<li><a href="pet-h2.html">看診項目</a></li>
							<li><a href="pet-h3.html">門診時間</a></li>
							<li><a href="pet-h4.html">健康檢查</a></li>
							<li><a href="pet-h5.html">醫院地圖</a></li>
							<li><a href="pet-h6.html">常見問題</a></li>
							<li><a href="pet-h7.html">關於我們</a></li>
						</ul>
					</li>

				</ul>
			</nav>

		</section>

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<div class="title">看診項目</div>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-8 col-12-medium">

						<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									<p><strong>寵物醫院的看診項目</strong></p>
								</header>
								<p><strong><a name="牙科" id="牙科"></a>項目：牙科</strong><br>
									內容：牙周病、牙齦炎、牙結石、牙齒斷裂、口炎、乳牙滯留等<br>
									可能症狀：食慾不好、不想咀嚼、嘴巴異味、唾液增加、單邊鼻子有分泌物等相關。</p>
								<br>
								<p><strong><a name="眼科" id="眼科"></a>項目：眼科</strong><br>
									內容：結膜炎、角膜潰瘍、白內障、乾眼症、青光眼<br>
									可能症狀：眼睛紅、流眼淚、眼屎變多等相關</p>
								<br>
								<p><strong><a name="一般內科" id="一般內科"></a>項目：一般內科</strong><br>
									科別：呼吸系統<br>
									可能症狀：流鼻水、鼻膿、咳嗽、喘等相關<br><br>
									科別：肝膽系統<br>
									可能症狀：精神不好、體重下降、消化道的問題等相關<br><br>
									科別：消化系統<br>
									可能症狀：嘔吐、拉肚子等相關<br><br>
									科別：泌尿系統<br>
									可能症狀：排尿頻率增加、尿量減少、尿色改變等相關<br><br>
									科別：血液系統<br>
									可能症狀：需透過檢查才能得知<br><br>
									科別：內分泌代謝系統<br>
									可能症狀：狗狗吃多、喝多、尿多、毛髮粗糙、脫毛等相關<br><br>
									科別：皮膚系統<br>
									可能症狀：起紅疹、皮屑、脫毛、痘痘等相關<br><br>
								</p>
								<br>
								<p><strong><a name="心臟專科" id="心臟專科"></a>項目：心臟專科</strong><br>
									可能症狀：體力下降、昏倒、呼吸急促、舌頭呈現紫灰色、頸部身長用力呼吸等相關</p>
								<br>
								<p><strong><a name="腫瘤癌症" id="腫瘤癌症"></a>項目：腫瘤癌症</strong><br>
									內容：淋巴瘤、肥大細胞瘤、血管瘤、骨肉瘤、膀胱瘤等<br>
									可能症狀：淋巴結腫大、有硬塊、活力下降、食慾不好、體重變輕、肚子變大、長期腸胃症狀等相關</p>
								<br>

								<p><strong><a name="骨科" id="骨科"></a>項目：骨科</strong><br>
									內容：一般骨折、開放性骨折、複雜性骨折、關節脫臼復位、脊椎骨折固定術等<br>
									可能症狀：不願意走、走路看起來怪怪的</p>
								<br>
								<p><strong><a name="一般外科" id="一般外科"></a>項目：一般外科</strong><br>
									內容：胸腹腔手術、疝氣修補、消化道手術、肝膽手術等相關手術<br>
									可能症狀：需透過檢查才能得知</p>
								<br>
								<p><strong><a name="神經科" id="神經科"></a>項目：神經科</strong><br>
									內容：癲癬、脊椎盤突出、腦部受損等<br>
									可能症狀：尿失禁、四肢划水狀、癱軟無力、意識不清等相關</p>
								<br>

							</article>
						
						</div>

					</div>
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar">
							<section class="box">
								<header>
									<h2>快速尋找</h2>
								</header>
								<a href="#牙科">
									<p>牙科</p>
								</a>
								<a href="#眼科">
									<p>眼科</p>
								</a>
								<a href="#一般內科">
									<p>一般內科</p>
								</a>
								<a href="#心臟專科">
									<p>心臟專科</p>
								</a>
								<a href="#腫瘤癌症">
									<p>腫瘤癌症</p>
								</a>
								<a href="#骨科">
									<p>骨科</p>
								</a>
								<a href="#一般外科">
									<p>一般外科</p>
								</a>
								<a href="#神經科">
									<p>神經科</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/KAA8q9" target="_blank" class="image left"><img src="images/dog45.jpg" alt="" /></a>
											<h3><a href="https://reurl.cc/KAA8q9" target="_blank" >狗與貓會感染Covid-19嗎 | 希爾思</a></h3>
											<p>冠狀病毒、COVID-19 與您的寵物：您需要知道的事 </p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/3aaKWj" target="_blank" class="image left"><img src="images/dog5.jpg" alt="" /></a>
											<h3><a href="https://reurl.cc/3aaKWj" target="_blank">舔一口竟致命！與寵物安全互動4原則 | 康健</a></h3>
											<p>近日國外出現4起因為寵物貓狗舔舐而死亡或截肢的新聞... </p>
										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/eEEMlK" class="image left"><img src="images/dog6.jpg" alt="" /></a>
											<h3><a href="https://reurl.cc/eEEMlK">7種方法 簡單對抗寵物過敏 | 早安健康</a></h3>
											<p>看到路上可愛的貓貓狗狗，總讓人情不自禁想摸摸牠們，但如果對牠們的毛過敏...</p>
										</article>
									</li>
								</ul>

							</section>

						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- Highlights -->
		

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>