<!DOCTYPE HTML>
<html>
{% load static %}
<head>
    <title>Register DearFurkid</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.datetimepicker.css' %}"/>
</head>

<body class="left-sidebar is-preload">
<div id="page-wrapper">
    <section id="header" class="wrapper">
        <div id="logo">
            <h1>Dearfurkid</h1>
        </div>
    </section>

</div>
<form method="POST" style="text-align:center;">
    {% csrf_token %}
    <h2>Register DearFurkid</h2><br>
    <div>
        {{ form.username.error }}
        <span style="margin-left:2.2%;font-color:">{{ form.username.label }}</span>
        {{ form.username }}
    </div>
    <div>
        {{ form.user_pwd.error }}
        <span style="margin-left:2.2%"> {{ form.user_pwd.label }}</span>
        {{ form.user_pwd }}
    </div>
    <div>
        {{ form.check_password.error }}
        <span>{{ form.check_password.label }}</span>
        {{ form.check_password }}
    </div>
    <div>
        {{ form.user_email.error }}
        <span>{{ form.user_email.label }}</span>
        {{ form.user_email }}
    </div>
    <a style="margin-right:2%;color:blue;" href="{% url 'pets:loginweb'%}" >登入</a>
    <input class="btn btn-success" type="submit" value="送出"/>

</form>

{% if messages %}
  <script>
    {% for msg in messages %}
      alert('{{ msg.message }}');
    {% endfor %}

    change=location.href.substring(0,location.href.length-11)+'loginweb'
    window.location=change
  </script>
{% endif %}

</body>
</html>