<!DOCTYPE HTML>

<html>
{% load static %}
<head>
	<title>寵物訓練 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="left-sidebar is-preload"style="background-color: #f3f3f3";>
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="aboutus">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="walk_pet">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming_pet">寵物美容</a></li>
							<li><a href="train_pet">寵物訓練</a></li>
							<li><a href="adopt_pet1">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物商城</a>
						<ul>
							<li><a href="mall_freshfood1">鮮食</a></li>
							<li><a href="mall_feed1">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="mall_clothing1">春夏季</a></li>
									<li><a href="mall_clothing4">秋冬季</a></li>
									<li><a href="mall_clothing7">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="mall_accessories1">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="Hospital_visits">看診項目</a></li>
						<li><a href="Hospital_healthcheck">健康檢查</a></li>
						<li><a href="Hospital_map">醫院地圖</a></li>
						<li><a href="funeral_pet">寵物葬儀</a></li>
						<li><a href="Hospital_commonproblem">常見問題</a></li>
						

					</ul>
				</li>

				</ul>
			</nav>
		</section>
		<!-- Main -->
		<section id="main" class="wrapper style2">
			<a href="train_pet">
				<div class="title">寵物訓練</div>
			</a>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar">
							<section class="box">
								<header>
									<h2>目錄</h2>
								</header>
								<a href="train_pet">
									<p\>寵物訓練首頁</p>
								</a>
								<a href="train_find">
									<p\>尋找訓練所</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/XW6L6j" target="_blank" class="image left"><img
													src="{% static 'images/dog18.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/XW6L6j"
													target="_blank">牠太熱情又撲又舔？4個訓練方法糾正撲人壞習慣｜香港01</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/ze8AzV" target="_blank" class="image left"><img
													src="{% static 'images/dog19.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/ze8AzV" target="_blank">收養17隻狗　安采妮轉型做犬隻訓練員
													｜東網</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/XW6LWa" target="_blank" class="image left"><img
													src="{% static 'images/dog20.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/XW6LWa" target="_blank">狗狗喜歡被摸肚子3大原因
													這情況下隨時被咬不要摸 | 香港01</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/1Yxeop" target="_blank" class="image left"><img
													src="{% static 'images/dog21.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/1Yxeop"
													target="_blank">壞習慣被糾正前有一個爆發期？學會兩個關鍵輕鬆解決｜香港01</a>
											</h3>

										</article>
									</li>

								</ul>

							</section>

						</div>

					</div>
					<div class="col-8 col-12-medium imp-medium">

						<!-- Content -->
						<div id="content">
							<article class="box post">
								<header class="style1">
									<h2>與狗狗生活的樣子會是什麼呢？<BR>是不是希望他能夠乖乖聽話呢？<BR>讓我們一起找出最適當的方式教毛小孩！</h2>
										<img src="{% static 'images1/dog17.jpg ' %}" alt="" class="image featured" />
									
										
									</h2>
									<p><strong>訓練的目的</strong></p>
								</header>
								<p>一開始養狗狗訓練的目的有很多種，像是最基本的就是教牠尿尿；還有讓牠知道你在叫牠，這是牠的名字等等，最重要的是主人能夠與狗狗溝通。
								</p>
								<br>
								
								<header class="style1">
									<p><strong>訓練需要多久</strong></p>
								</header>
								<p>每隻狗狗需要的時間都不一定，有些狗狗訓練學習能力很快，有些學習能力則偏慢，但最重要的是主人需要有足夠的耐心與愛。</p><br>

								<header class="style1">
									<p><strong>沒有時間訓練狗狗怎麼辦</strong></p>
								</header>
								<p>若是主人沒有時間訓練自家狗狗的話，我們有推薦幾家專門訓練寵物的店家(請點選尋找訓練所)。</p>
							</article>

						</div>

					</div>
				</div>
			</div>
		</section>
	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<a type="button" id="BackTop" class="toTop-arrow"></a>
	</body>
	<!--	GO TOP Button-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>
		$(function(){
			$('#BackTop').click(function(){ 
				$('html,body').animate({scrollTop:0}, 333);
			});
			$(window).scroll(function() {
				if ( $(this).scrollTop() > 300 ){
					$('#BackTop').fadeIn('Fixed');
				} else {
					$('#BackTop').stop().fadeOut('Fixed');
				}
			}).scroll();
		});
		</script>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>



</html>