<!DOCTYPE HTML>

<html>
	{% load static %}
<head>
	<title>寵物訓練 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="left-sidebar is-preload" style="background-color: #f3f3f3";>
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header" class="wrapper">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="index">Dearfurkid</a></h1>
				<p>Your Pet</p>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index">首 頁</a></li>
					<li>
						<a href="#">個人資訊</a>
						<ul>
							<li><a href="calendar">提醒事項</a></li>
							<li><a href="modify">修改密碼</a></li>
							<li><a href="#">帳號登出</a></li>
							<li><a href="aboutus">關於我們</a></li>
						</ul>
					</li>

					<li>
						<a href="#">日常生活</a>
						<ul>
							<li><a href="bookkeeping">寵物記帳</a></li>
							<li><a href="walk_pet">散步地圖</a></li>
							<li><a href="consult">寵物住宿</a></li>
							<li><a href="grooming_pet">寵物美容</a></li>
							<li><a href="train_pet">寵物訓練</a></li>
							<li><a href="adopt_pet1">寵物領養</a></li>
						</ul>
					</li>
					<li>
						<a href="#">寵物商城</a>
						<ul>
							<li><a href="mall_freshfood1">鮮食</a></li>
							<li><a href="mall_feed1">飼料</a></li>
							<li><a href="">衣服</a>
								<ul>
									<li><a href="mall_clothing1">春夏季</a></li>
									<li><a href="mall_clothing4">秋冬季</a></li>
									<li><a href="mall_clothing7">其他</a></li>
								</ul>
							</li>
					</li>
					<li><a href="mall_accessories1">配件</a></li>
				</ul>
				</li>
				<li>
					<a href="#">寵物醫院</a>
					<ul>

						<li><a href="Hospital_visits">看診項目</a></li>
						<li><a href="Hospital_healthcheck">健康檢查</a></li>
						<li><a href="Hospital_map">醫院地圖</a></li>
						<li><a href="funeral_pet">寵物葬儀</a></li>
						<li><a href="Hospital_commonproblem">常見問題</a></li>
						

					</ul>
				</li>

				</ul>
			</nav>
		</section>
		<!-- Main -->
		<section id="main" class="wrapper style2">
			<a href="train_pet">
				<div class="title">寵物訓練</div>
			</a>
			<div class="container" >
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar "style="margin:35px">
							<section class="box">
								<header>
									<a name="回上面" id="回上面">
										<h2>目錄</h2>
									</a>

								</header>
								<a href="train_pet">
									<p\>寵物美容首頁</p>
								</a>
								<a href="train_find">
									<p\>尋找美容院</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>快速尋找</h2>
								</header>
								<a href="#雙北市">
									<p>雙北市</p>
								</a>
								<a href="#桃園市">
									<p>桃園市</p>
								</a>
								<a href="#台中市">
									<p>台中市</p>
								</a>
								<a href="#台南市">
									<p>台南市</p>
								</a>
								<a href="#高雄市">
									<p>高雄市</p>
								</a>
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/XW6L6j" target="_blank" class="image left"><img
													src="{% static 'images/dog18.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/XW6L6j"
													target="_blank">牠太熱情又撲又舔？4個訓練方法糾正撲人壞習慣｜香港01</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/ze8AzV" target="_blank" class="image left"><img
													src="{% static 'images/dog19.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/ze8AzV" target="_blank">收養17隻狗　安采妮轉型做犬隻訓練員
													｜東網</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/XW6LWa" target="_blank" class="image left"><img
													src="{% static 'images/dog20.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/XW6LWa" target="_blank">狗狗喜歡被摸肚子3大原因
													這情況下隨時被咬不要摸 | 香港01</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/1Yxeop" target="_blank" class="image left"><img
													src="{% static 'images/dog21.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/1Yxeop"
													target="_blank">壞習慣被糾正前有一個爆發期？學會兩個關鍵輕鬆解決｜香港01</a>
											</h3>

										</article>
									</li>

								</ul>

							</section>

						</div>

					</div>
					<div class="col-8 col-12-medium imp-medium">

						<!-- Content -->
						<div id="content" style="margin:35px">
							<article class="box post">
								<header class="style1">
									<h2>推薦寵物訓練所</h2>
									<br>
									<p><strong><a name="雙北市" id="雙北市"></a>雙北市</strong></p>
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1H3RDWP9rjQvPiQYGXKtfftxU6BBkxt7L" width="640" height="480"></iframe>
									<p><strong>D.I.N.G.O.寵物訓練教室</strong></p>
									<p>地址：新北市永和區中正路662巷5號</p>
									<p>電話：(02)2923-1101</p>
									<br>
									<p><strong>HalloPet 寵物精緻沙龍、行為訓練中心</strong></p>
									<p>地址：新北市土城區永豐路13巷26號</p>
									<p>電話：(02)2263-6365</p>
									<br>
									<p><strong>寵樂町·文創館</strong></p>
									<p>地址：新北市板橋區重慶路247號</p>
									<p>電話：(02)2951-6099</p>
									<br>
									<p><strong>A+ Pet Hotel & Training 寵物旅館 訓練</strong></p>
									<p>地址：新北市五股區新城三路41號</p>
									<p>電話：0911-768-123</p>
									<br>
									<p><strong>有狗真好寵物旅館</strong></p>
									<p>地址：台北市中正區中華路二段475號</p>
									<p>電話：0983-257-246</p>
									<br>
									<p><strong>Dog老師全能發展學堂</strong></p>
									<p>地址：台北市松山區撫遠街369巷16號1樓</p>
									<p>電話：(02)2761-7636</p>
									<br>
									<p><strong><a href="#雙北市">
												返回雙北市
											</a></strong></p><br><br>

									<p><strong><a name="桃園市" id="桃園市"></a>桃園市</strong></p>
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1Lx5HZOve0TXxseaYAw_0py3hLnwFlunX" width="640" height="480"></iframe>
									<p><strong>勝通比賽犬訓練學校</strong></p>
									<p>地址：桃園市大溪區員林路三段421號</p>
									<p>電話：0989-011-700</p>
									<br>
									<p><strong>傑盛愛犬訓練學苑</strong></p>
									<p>地址：桃園市大溪區埔頂六街177號</p>
									<p>電話：(03)380-7005</p>
									<br>
									<p><strong>百威愛犬訓練中心</strong></p>
									<p>地址：桃園市大園區溪洲路69巷70號</p>
									<p>電話：0936-833-980</p>
									<br>
									<p><strong>PuppyPuppy學園</strong></p>
									<p>地址：桃園市桃園區國際路一段530巷165號</p>
									<p>電話：0908-983-389</p>
									<br>
									<p><strong><a href="#桃園市">
												返回桃園市
											</a></strong></p><br><br>
									<p><strong><a name="台中市" id="台中市"></a>台中市</strong></p>
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1m6q7zSFSm6E2EeUzbDObclnrBb3747GH" width="640" height="480"></iframe>
									<p><strong>陽光夥伴人犬教育學園</strong></p>
									<p>地址：台中市外埔區土城路248號1樓</p>
									<p>電話：0934-060-708</p>
									<br>
									<p><strong>群峰訓練犬學校</strong></p>
									<p>地址：台中市沙鹿區中山路22之130號</p>
									<p>電話：(04)2662-2021</p>
									<br>
									<p><strong>犬力以赴美容訓練學苑</strong></p>
									<p>地址：台中市太平區育賢路83號</p>
									<p>電話：0958-238-224</p>
									<br>
									<p><strong>鈴木犬舍</strong></p>
									<p>地址：台中市外埔區土城路248號</p>
									<p>電話：0934-060-708</p>
									<br>
									<p><strong>多糖教室 毛小孩教育訓練</strong></p>
									<p>地址：台中市南屯區文心路一段294號</p>
									<p>電話：0930-020-038</p>
									<br>			
									<p><strong><a href="#台中市">
												返回台中市
											</a></strong></p><br><br>
									<p><strong><a name="台南市" id="台南市"></a>台南市</strong></p>
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1VgsfFhJL_jqF2fTsaShAOfy5f_SHLkob" width="640" height="480"></iframe>
									<p><strong>勝銘訓犬學校</strong></p>
									<p>地址：台南市永康區富強路二段278巷99號</p>
									<p>電話：0952-765-889</p>
									<br>
									<p><strong>流川丰寵物美容學苑 KCT台南指定學校</strong></p>
									<p>地址：台南市東區東門路二段231號</p>
									<p>電話：(06)275-5938</p>
									<br>
									<p><strong>寵物行為訓練| 愛諾寵物生活館</strong></p>
									<p>地址：台南市東門路二段158巷16號</p>
									<p>電話：(06)208-8899</p>
									<br>
									<p><strong><a href="#台南市">
												返回台南市
											</a></strong></p><br><br>
									<p><strong><a name="高雄市" id="高雄市"></a>高雄市</strong></p>
									<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1KryYP8jhyhnKg7G5VSJSeQGSyoGGUkU5" width="640" height="480"></iframe>
									<p><strong>米拉寵物行為訓練</strong></p>
									<p>地址：高雄市前鎮區中華五路939巷24號</p>
									<p>電話：0939-149-575</p>
									<br>
									<p><strong>東洋狗學校</strong></p>
									<p>地址：高雄市梓官區忠孝路237-1號</p>
									<p>電話：0987-214-262</p>
									<br>
									<p><strong>好乖狗狗寵物訓練教室</strong></p>
									<p>地址：高雄市新興區林森一路15巷10號</p>
									<br>
									<p><strong>毛有所思Furry Thinker</strong></p>
									<p>地址：高雄市三民區察哈爾一街9號</p>
									<p>電話：(07)322-2525</p>
									<br>
									<p><strong>源泰愛犬訓練中心</strong></p>
									<p>地址：高雄市鳥松區長春路53號</p>
									<p>電話：(07)731-0845</p>
									<br>
									
									<p><strong><a href="#高雄市">
												返回高雄市
											</a></strong></p>
								</header>

							</article>

						</div>

					</div>
				</div>
			</div>
		</section>
	</div>
	<section id="footer" class="wrapper">
		<div class="title"></div>
		<div class="container">

			<div class="row">

				<div class="col-12-medium" style="margin: 0px auto;">

					<!-- Contact -->
					<section class="feature-list col-12-medium">
						<div class="row">
							<div class="col">
								<section>
									<h3 class="icon solid fa-home">Dearfurkid</h3>
									<p>
										<a href="QA">常見Q&A</a><br>
										<a href="privacy">隱私權政策</a>

									</p>
								</section>
							</div>

							<div class="col">
								<section>
									<h3 class="icon solid fa-envelope">聯絡我們</h3>
									<p>
										<a href="mailto:dfurkid@gmail.com" target="_blank">dfurkid@gmail.com</a>
										<br>
										<a href="https://lin.ee/8SJlSiV">
											<img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png"
												alt="加入好友" height="30" border="0">
										</a>
									</p>
								</section>
							</div>
						</div>

					</section>
				</div>
			</div>
		</div>
	</section>
	<a type="button" id="BackTop" class="toTop-arrow"></a>
	</body>
	<!--	GO TOP Button-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script>
		$(function(){
			$('#BackTop').click(function(){ 
				$('html,body').animate({scrollTop:0}, 333);
			});
			$(window).scroll(function() {
				if ( $(this).scrollTop() > 300 ){
					$('#BackTop').fadeIn('Fixed');
				} else {
					$('#BackTop').stop().fadeOut('Fixed');
				}
			}).scroll();
		});
		</script>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'assets/js/browser.min.js' %}"></script>
	<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>


</html>