<!DOCTYPE HTML>
<html>
{% extends 'ground.html' %}
{% block content %}
{% load static %}
<head>
	<title>散步地圖 | Dfurkid</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body class="left-sidebar is-preload"style="background-color: #f3f3f3";>
	<div id="page-wrapper">

		<!-- Main -->
		<section id="main" class="wrapper style2">
			<a href="walk_pet"><div class="title">散步地圖</div></a>
			<div class="container">
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">

						<!-- Sidebar -->
						<div id="sidebar" style="margin:35px">
							<section class="box">
								<header>
									<h2>目錄</h2>
								</header>
								<a href="walk_pet">
									<p\>散步注意事項</p>
								</a>
								<a href="walk_find">
                                    <p\>尋找散步地圖</p>
                                </a>
								
							</section>
							<section class="box">
								<header>
									<h2>狗狗相關文章閱讀</h2>
								</header>
								<ul class="style2">
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/Gd0Odv" target="_blank" class="image left"><img src="{% static 'images/dog1.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/Gd0Odv" target="_blank">每日放狗超有益，5個好處你知道嗎？｜香港01</a>
											</h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/dVZAGD" target="_blank" class="image left"><img src="{% static 'images/dog2.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/dVZAGD"
													target="_blank">破除迷思系列：散步對狗狗來說只是消耗體力？｜PetTalk愛寵健康談</a></h3>

										</article>
									</li>


									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/Xenyl3" target="_blank" class="image left"><img src="{% static 'images/dog3.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/Xenyl3"
													target="_blank">遛狗好處多多？自己不但能順便運動，心情還會變好！專家這樣建議，讓主人跟毛孩都開心｜風傳媒</a></h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/V3Vlj5" target="_blank" class="image left"><img src="{% static 'images/dog4.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/V3Vlj5"
													target="_blank">科學證實養狗的好處這麼多！療癒紓壓還可顧心臟｜聯合新聞網</a></h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://news.sina.com.tw/article/20210421/38326092.html" target="_blank" class="image left"><img src="{% static 'images/dog5.jpg ' %}" alt="" /></a>
											<h3><a href="https://news.sina.com.tw/article/20210421/38326092.html"
													target="_blank">帶狗狗外出散步的5個好處！幼犬愛亂咬傢俱、腸胃不好都能靠散步一一解決？｜新浪新聞</a></h3>

										</article>
									</li>
									<li>
										<article class="box post-excerpt">
											<a href="https://reurl.cc/YWzpjX" target="_blank" class="image left"><img src="{% static 'images/dog6.jpg ' %}" alt="" /></a>
											<h3><a href="https://reurl.cc/YWzpjX" target="_blank">帶狗狗散步的利與弊｜每日頭條</a></h3>

										</article>
									</li>
								</ul>
								
							</section>
						</div>

					</div>
					<div class="col-8 col-12-medium imp-medium">

						<!-- Content -->
						<div id="content" style="margin:35px">
							<article class="box post">
								<header class="style1">
									<h2>帶狗狗去散步這些事前準備你要知道!</h2>
								</header>
								<header class="style1">
									<p><strong>水碗或容器</strong></p>
								</header>
								<p>狗狗跟我們一樣都需要補充水分，在狗狗散步之際，適時的給狗狗補充水份對狗狗很重要。也可以拿水來把狗狗尿過的地方沖乾淨，這樣可以減少異味的發生。</p><br>
								<header class="style1">
									<p><strong>防蚤噴霧</strong></p>
								</header>
								<p>帶狗狗去散步一定會擔心帶跳蚤回家，這時候就要幫狗狗準備防蚤噴霧啦！</p><br>
								<header class="style1">
									<p><strong>撿便袋</strong></p>
								</header>
								<p>狗狗在外面可能臨時會想要便便，做主人的一定要幫狗狗帶走大便喔！以免造成環境髒亂。可以準備塑膠袋或者不要的紙。</p><br>
								<header class="style1">
									<p><strong>狗狗的零嘴</strong></p>
								</header>
								<p>零嘴跟水一樣都是必需的喔！且帶狗狗去散步剛好可以在外面利用零嘴訓練狗狗。</p><br>
								<header class="style1">
									<p><strong>濕紙巾</strong></p>
								</header>
								<p>濕紙巾可以幫狗狗擦屁股跟腳，這樣可以讓狗狗回家時都是乾乾淨淨的唷！</p><br>
								<header class="style1">
									<p><strong>牽繩</strong></p>
								</header>
								<p>帶狗狗散步一定要繫好牽繩，萬一有突發狀況才不會造成不可挽回的後悔。</p><br>
							</article>

						</div>

					</div>
				</div>
			</div>
		</section>
	</div>
	</body>
	{% endblock %}
</html>